.AddPageContainer {
    background: #fff;
    color: #000;
    width: 425px;
    margin:auto;
    height: 617px;
    padding: 20px 48px;
}

.popup-content{
  width: initial!important;
  padding: 0px!important;
  margin: auto!important;
}
.AddHeading{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 50px;
}
  
.AddFormContent{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.AddFormInputs {
    display: grid;
    gap: 1rem;
}

.AddButtons{
  margin-top: 20px;
}

.AddBtn{
    float: left;
}
.AddCancelBtn{
    float: right;
}
.EmptyList{
  margin: 50px 40px;
}