.LandingPage {
  background: #008ac1;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.LandingPageMain {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.LandingPageMainContent {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem 4rem;
}

.LandingPageMainContentInfo {
  display: grid;
  align-items: center;
}

.LandingPageMainContentImg {
  display: grid;
  align-items: center;
}

.LandingParagraph {
  color: #ffffff;
  width: 80%;
}

.LandingPageMainContentTitle{
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
}
.LandingPageInfrastructurePic path{
  fill:#99D2E9;
}
.FreeTrialButton{
  background-color: #F7B21F;
  color: white;
  padding: 0.7rem;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: 2px solid #F7B21F;
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.FreeTrialButton:hover{
  background: none;
  color: #F7B21F;
}

.FreeTrialButton:hover   path{
  fill: #F7B21F;
}

.LandingPageMainContainer{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.LandingPageWhySection{
  background-color: #ffffff;
  padding: 2rem;
}

.WhySectionContent{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: .5rem;
}

.DataCenterImage{
  overflow: hidden;
}

.DataCenterImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.WhySectionChildContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}

.WhySectionItem{
  padding: 0.5rem;
  background-color: #F1F1F1;
  color: #555555;
}

.WhySectionCardTitle{
  font-size: medium;
  line-height: 2rem;
  font-weight: bold;
}

.PageBannerSection{
  background-color: #F7B21F;
  color: #F8F7E5;
  display: flex;
  width: 100%;
  padding: 0 0 0 2rem;
  overflow: hidden;
}

.LeftPageBannerSection{
  flex: 6;
  margin: auto;
}

.RightPageBannerSection{
  flex: 1;
  overflow: hidden;
  margin: auto;
}
.BannerParagraph{
  color: #000000;
}
.BannerButton{
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 0.5rem 2rem;
}
.LeftPageBannerInner{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.SolutionsSection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.SolutionsContainer{
  display: flex;
}

.SolutionsIcon{
  flex: 1;
  padding-top: 1.3rem;
}

.SolutionsContent{
  flex: 5;
}

@media only screen and (max-width: 640px) {
  .LandingPageMainContentImg {
    display: none;
  }
}
