.LandingPageMain {
  background: #008AC1;
  height: 100vh;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

.LandingPageMainContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}


.LandingPageMainContentInfo {
  /* margin: 2rem; */
  padding: 3rem;
}

.LandingPageMainContentInfo h1 {
  font-size: 32px;
  color: #F7B21F;
}

.LandingPageMainContentInfo h3 {
  color: #ffffff;
  line-height: 37px;
  font-size: 32px;
  width: 80%;
}

.LandingPageMainContentImg {
  width: 50%;
  padding: 3rem;
}

.LandingPageFooter {
  position: relative;
  margin-top: 0;
}

@media only screen and (max-width: 640px) {
  .LandingPageMainContentImg {
    display: none;
  }
}