.LandingPageMain {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.LandingPageMainContent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-self: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.LandingPageMainContentInfo {
  display: grid;
  align-items: center;
}

.LandingPageMainContentImg {
  display: grid;
  align-items: center;
}

.LandingPageMainContentInfo h1 {
  font-size: 32px;
  color: #F7B21F;
}

.LandingPageMainContentInfo h3 {
  color: #ffffff;
  line-height: 37px;
  font-size: 32px;
  width: 80%;
}

@media only screen and (max-width: 640px) {
  .LandingPageMainContentImg {
    display: none;
  }
}