.LandingPage {
  background: #008ac1;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.LandingPageMain {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.LandingPageMainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background: #008ac1;
  height: calc(100vh - 5rem);
}

.LandingPageMainContentInfo {
  display: grid;
  align-items: center;
  grid-gap: 3rem;
}

.LandingPageMainContentImg {
  display: grid;
  align-items: center;
}

.LandingParagraph {
  color: #ffffff;
  width: 80%;
  line-height: 2rem;
}

.LandingPageMainContentTitle {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
}
.LandingPageInfrastructurePic path {
  fill: #99d2e9;
}
.FreeTrialButton {
  background-color: #f7b21f;
  text-transform: uppercase;
  color: white;
  padding: 0.7rem;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: 2px solid #f7b21f;
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.FreeTrialButton:hover {
  background: none;
  color: #f7b21f;
}

.FreeTrialButton:hover path {
  fill: #f7b21f;
}

.LandingPageMainContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.LandingPageWhySection {
  background-color: #ffffff;
  padding: 5rem;
}

.WhySectionContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}

.DataCenterImage {
  overflow: hidden;
}

.DataCenterImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.WhySectionChildContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

.WhySectionItem {
  padding: 1rem;
  background-color: #f1f1f1;
  color: #555555;
  display: grid;
  grid-template-rows: max-content;
  gap: 0.5rem;
}

.WhySectionCardTitle {
  font-size: medium;
  line-height: 2rem;
  font-weight: bold;
}

.WhySectionAction {
  color: #555555;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  gap: 0.6rem;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}

.PageBannerSection {
  background-color: #f7b21f;
  color: #f8f7e5;
  display: flex;
  padding: 1rem 3rem;
}

.LeftPageBannerSection {
  flex: 6;
  margin: auto;
}

.RightPageBannerSection {
  flex: 1;
  overflow: hidden;
  margin: auto;
}
.BannerParagraph {
  color: #000000;
}
.BannerButton {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 0.5rem 2rem;
}
.LeftPageBannerInner {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.PageBannerLearnMore{
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  background: #FEFEFE;
  font-weight: bold;
  cursor: pointer;
}

.PageBannerLearnMore:hover{
  background: transparent;
  border-color: #FEFEFE;
  color: #FEFEFE;
}

.SolutionsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
  padding: 1rem 0 3rem 0;
}

.SolutionsContainer {
  display: flex;
}

.SolutionsIcon {
  flex: 1;
  padding-top: 1.1rem;
}

.SolutionsIcon svg{
  height: 24px;
}

.SolutionsContent {
  flex: 5;
}

@media only screen and (max-width: 900px) {
  .LandingPageMainContentImg {
    display: none;
  }

  .WhySectionContent {
    grid-template-columns: 1fr;
  }

  .SolutionsSection {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 640px) {
  .LandingPageMainContentImg {
    display: none;
  }

  .SolutionsSection {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
