.activeUserCard{
    width: 350px;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1rem;
    top: 1rem;
    max-height: 20vh;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
}

.activeUserCard > .cardHeader{
    display: flex;
    align-items: center;
    text-indent: 10px;
}

.user_info{
    display: flex;
    flex-direction: column;
}
