.featuredUsers {
    background-color: #f8f9fa;
    padding: 0.2rem 1rem 1rem 1rem;
    border-radius: 8px;
    margin: 10px;
}

.viewMoreButton {
    width: 100%;
}

.noActivity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    text-align: center;
}