.ProjectDeleteModel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.ProjectDeleteModel .ModalParentWrap {
  background-color: inherit;
}

.ProjectDeleteModel .ModalChildWrap {
  z-index: 3;
}

.DeleteProjectModel {
  display: grid;
  gap: 3rem;
}

.DeleteProjectModalLowerSection {
  display: grid;
  gap: 1rem;
}

.DeleteDescription {
  cursor: default;
  font-weight: 700;
  font-size: 1.1rem;

}

.DeleteDescription span {
  padding: 0.2rem 0.4rem;
  margin: 0;
  font-weight: bold;
  font-size: 90%;
  background-color: rgba(27, 31, 35, 0.1);
  border-radius: 3px;
}

.DeleteProjectModelButtons {
  display: flex;
  justify-content: space-between;
}

.UpdateProjectModelButtons {
  display: flex;
  justify-content: space-between;
}

.ModalUpdateForm {
  display: grid;
  gap: 2rem;
}

.ModalUpdateForm .ModalFormInputs {
  display: grid;
  gap: 1rem;
}

.ModalUpdateForm .ModalFormInputs .InputText {
  border: 2px solid #000000;
  color: #000;
}

.ModalUpdateForm .ModalFormInputs .InputText::placeholder {
  color: #000;
}

.ModalUpdateForm .ModalFormButtons {
  display: flex;
  justify-content: space-between;
}

.ProjectDeleteModel .ModalChildWrap {
  min-width: 21rem;
  max-width: 25rem;
}

.UpdateForm {
  display: grid;
  gap: 1rem;
  padding: 1rem 1.3rem;
  grid-template-rows: 2fr;
}

.UpdateInputSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.ErrorOnWhite {
  width: 25rem;
}

.SideBarSection {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - 5rem);
}

.SideBarSection::-webkit-scrollbar {
  display: none;
  min-width: fit-content;
}

.Page {
  margin: 0;
  background: #f1f1f1;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 4fr;
  /* overflow-x: hidden; */
}

.MainSection {
  /* divided into two columns */
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: 1.3fr 6fr;
  overflow: hidden;
}

.MainContentSection {
  /* divided into two rows */
  display: grid;
  grid-template-rows: 80px 4fr;
  overflow: auto;
}

.TopBarSection {
  background-color: black;
}

.SideBarSection {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
}

.ContentSection {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.InnerModalDescription {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.DeleteWarning {
  color: #f00;
}

.InactiveDelete {
  background-color: #fff;
  outline: #ff9595;
  color: #ff9595;
}

.InactiveDelete:hover {
  background-color: #fff;
  outline: #ff9595;
  color: #ff9595;
}

.WarningContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.DeleteSubDescription {
  font-weight: 500;
}

.MembershipHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.MemberSection {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.MemberDescription {
  width: 30rem;
}

.ProjectInstructions {
  padding: 1rem 1rem;
  background: #ffffff;
  border-radius: 15px;
  border: 1px solid var(--gray-light-color);
  display: grid;
  gap: 2rem;
}

.ProjectButtonRow {
  display: grid;
  grid-template-columns: auto 40%;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 1rem;
}

.SettingsSectionInfo {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.SectionButtons {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.ProjectSections {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.SettingsSectionInfoHeader {
  font-weight: 600;
  font-size: 1.1rem;
}

.TokenItem {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20rem;
}

.ProjectSectionTitle {
  font-size: 1.3rem;
  font-weight: bold;
}

.DeleteBtn {
  color: #fff;
  background-color: #ff0000;
  outline: 1px solid #ff0000;
}

.DeleteBtn:hover {
  background-color: #fff;
  outline: 1px solid #ff0000;
  color: #ff0000;
}

.MemberTable {
  width: 80%;
}

.MemberTableHead {
  text-transform: uppercase;
  color: var(--primary-color);
  text-align: center;
  grid-row: 1;
  padding: 0.5rem 0;
}

.MemberNameEmail {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  font-weight: 400;
  font-size: 14px;
}
.Wrap{
  word-break: break-all;
}

.MemberTableRow {
  display: grid;
  color: #000000;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.MemberTableRowUnregistered {
  display: grid;
  color: #000000;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.NameSecting {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 1fr 3fr;
  gap: .4rem;
  align-items: center;
}

.MemberAvatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MemberTableRow:not(a) {
  border-bottom-width: 2px;
}


.CardBodySection .MemberTableRow {
  width: 100%;
}

.SendInvitationButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BlueBtn:hover {
  color: var(--primary-color);
  background-color: #fff;
  outline: 2px solid var(--primary-color);
}

.BlueBtn {
  color: #fff;
  background-color: var(--primary-color);
  outline: 2px solid var(--primary-color);
  padding: 0.5rem;
  height: 2.5rem;
}

.ModelHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
}

.SettingsButton {
  background-color: var(--primary-color);
  color: #fff;
  outline: 1px solid var(--primary-color);
}

.SettingsButton:hover {
  color: var(--primary-color);
  background-color: #fff;
  outline: 1px solid var(--primary-color);
}

.SettingsButtonUpdate {
  color: #fff;
  background-color: var(--secondary-color);
  outline: 1px solid var(--secondary-color);
}

.SettingsButtonUpdate:hover {
  color: var(--secondary-color);
  background-color: #fff;
  outline: 1px solid var(--secondary-color);
}

.contextMenu {
  color: #000;
  background-color: #f9f9f9;
  /* display: flex;
  flex-direction: column; */
  z-index: 1;
  box-shadow: 0 4px 4px 0 rgba(117, 117, 117, 0.2);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.MoreIcon:hover {
  cursor: pointer;
}

.MoreIconHidden {
  display: none;
}

.BelowHeader {
  background-color: #f9f9f9;
  position: relative;
}

.DropDownLink {
  cursor: pointer;
  padding: 1rem 1.5rem;
  text-align: center;
}

.DropDownLink:hover,
.DropDownLink:active {
  background-color: #f1f1f1;
}

.DropDownLink,
.DropDownLink:visited {
  color: #000;
  text-decoration: none;
}

.MemberTableCell {
  font-weight: normal;
  padding: 1rem 0;
  text-align: center;
  grid-row: 1;
  overflow: hidden;
  overflow-wrap: break-word;
}

/* .MemberTableCell div {
 
} */

.MemberTableHead:first-child,
.MemberTableCell:first-child {
  text-align: left;

}

/* .MemberTableCell:first-child {
  text-transform: uppercase;
} */

.MemberTableHead:last-child,
.MemberTableCell:last-child {
  text-align: right;
  padding-right: 1rem !important;
}



@media(max-width: 650px) {
  .MainSection {
    /*one column required */
    background-color: #f1f1f1;
    display: flex;
    flex-shrink: 0;
    width: 100%;
  }

  .MainContentSection {
    background-color: #f1f1f1;
    flex-direction: column;
    display: flex;
    flex-shrink: 0;
    width: 100%;
  }

  .UpdateForm {
    max-width: 20rem;
  }

  .UpdateInputSection {
    width: 20rem;
  }


  .TextArea {
    width: 20rem;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: inherit;
    padding: 1rem;
  }

}