.VerificationPageContainer {
  background: #008ac1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.VerificationPageMain {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.VerificationPageContent {
  padding: 2rem;
  /* margin: 1rem; */
}

.VerificationPageContent h2 {
  color: #f7b21f;
}

.VerificationPageContent p span {
  color: #f7b21f;
}

.ResendLinkForm {
  display: flex;
  flex-direction: column;
}

.ResendLinkForm .ResendLinkBtn {
  margin-top: 1rem;
}

.VerificationPageFooter {
  position: relative;
  margin-top: 5rem;
}

/* weird media query to fix fullscreen misbehavior */
@media only screen and (min-height: 642px) {
  .VerificationPageContainer {
    height: 100vh;
  }
}