.Page{
    margin: 0;
    background: #F1F1F1;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 150px 3fr 100px;
    overflow-x: hidden;
}

.TopRow{
    width: 100%;
}

.MainRow{
    width: 100%;
}

.FooterRow{
    width: 100%;
    bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #06222F;
    margin: 30px 30px;
    cursor: pointer;
}

.ProjectList{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.ProjectCardItem{
    margin: 25px 25px;
    color: black;
}
