.Input-Password{
    width: 400px;
    height: 72px;
    border: 2px solid #fff;
    box-sizing: border-box;
    background-color: #008ac1;
    color: #fff;
    font-size: 16px;
    padding: 1rem;
    padding-left: 2rem;
  }
  .Input-Password::placeholder {
      color: #fff;
  }