.InputPassword{
    width: 25rem;
    height: 72px;
    border: 2px solid #fff;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    font-size: inherit;
    padding: 1rem;
  }
  .InputPassword::placeholder {
      color: #fff;
  }