.PeriodContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.PeriodButtonsSection {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: .5rem;
  padding: 10px;
}

.PeriodButton {
  height: 1.7rem;
  width: 3rem;
  background-color: #eeeeee;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.PeriodButtonActive {
  background-color: #F7B21F;
}

.DateInputsSection {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 940px) { 
  .PeriodContainer {
    display: flex;
    flex-direction: column;
  }
  .DateInputsSection {
    order: 2;
    padding: 10px;
  }
}
