@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* ---------- HOME CONTAINER ------------ */
.home-container {
  height: 100vh;
  background-color: #008ac1;
  color: #fff;
  margin: 0;
  padding: 0.8em 1.2em;
  font-family: "Roboto", sans-serif;
}

/* ---------- HEADER ------------ */
.header {
  background: #008ac1; /* fallback for old browsers */
  width: 100%;

  img.logo {
    width: 250px;
    padding-left: 0.5em;
  }

  .links a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 0.8em;

    &:hover {
      font-weight: bolder;
      transition-delay: 100ms;
    }
  }

  .links a.btn-sign-in {
    border: 2px white solid;
    border-radius: 10px;

    &:hover {
      border-radius: 0;
    }
  }
}

/* ---------- LANDING ------------ */
.home-grid {
  margin-top: 10rem;

  .col-right {
    text-align: left;
    margin-top: -40px;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5em;
  }

  .subhead {
    font-size: 17px;
    font-weight: bold;
  }

  button.btn-get-started {
    background-color: #d2741d;
    margin-top: 20px;
    padding: 0.8em 2em;
    border-radius: 25px;
  }

  .cloud {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 990px) {
  .medium {
    display: none;
  }
}

/* PHONES */
@media screen and (max-width: 650px) {
  /* ---------- HOME CONTAINER ------------ */
  .home-container {
    height: 100vh;
    margin: 0;
  }

  /* ---------- HEADER ------------ */
  .header {
    background: #008ac1; /* fallback for old browsers */
    width: 100%;

    img.logo {
      width: 200px;
      padding-left: 0.5em;
    }

    .links a {
      text-decoration: none;
      font-size: 1em;
    }

    .links a.btn-sign-in {
      border: 0px;
    }
  }

  /* ---------- LANDING ------------ */
  .home-grid {
    margin: 3rem 0 40px;

    .col-right {
      display: none; /* TEMPORARY */
      text-align: left;
      margin-top: 40px;
    }

    h1 {
      font-size: 2.3em;
    }

    .subhead {
      font-size: 14px;
    }

    button.btn-get-started {
      margin-top: 20px;
      width: 70%;
      padding: 0.8em 2em;
      border-radius: 25px;
    }

    .cloud {
      text-align: left;
      width: 200px;
      height: 200px;
    }
  }
}

/* TABLETS */
@media screen and (max-width: 989px) {
  /* ---------- HOME CONTAINER ------------ */
  .home-container {
    height: 100vh;
    margin: 0;
  }

  /* ---------- HEADER ------------ */
  .header {
    background: #008ac1; /* fallback for old browsers */
    width: 100%;

    .links a.btn-sign-in {
      border: 0px;
    }
  }
  
  /* ---------- LANDING ------------ */
  .home-grid {
    margin: 3rem 0 40px;
    text-align: center;

    .col-right {
      display: none;
    }

    .medium {
      text-align: center;
      margin-left: 10px;
      .cloud {
        width: 400px;
        height: 400px;
      }
    }

    h1 {
      margin-top: 40px;
      font-size: 3em;
    }

    .subhead {
      font-size: 19px;
    }

    button.btn-get-started {
      margin: 20px auto;
      width: 70%;
      padding: 0.8em 2em;
      border-radius: 25px;
    }
  }
}