.DatabaseTable{
    box-sizing: border-box;
    display: table;
    text-indent: initial;
    position: relative;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.DatabaseTableHead{
    text-transform: uppercase;
    vertical-align: middle;
    display: table-header-group;
}

.DatabaseTableBody{
    display: table-row-group;
    vertical-align: middle;
}

.DatabaseTableRow{
    display: table-row;
    vertical-align: inherit;
}

.DatabaseTableHeadCell{
    display: table-cell;
    font: bold;
    padding: 1rem;
    color: #008ac1;
    vertical-align: inherit;
    text-align: center;
}

.DatabaseTableCell{
    display: table-cell;
    font-weight: normal;
    padding: 0.8rem 1rem;
}

.DatabaseTableHeadCell:first-child,
.DatabaseTableCell:first-child{
    text-align: left;
    padding-left: 2rem;
}

.DatabaseTableHeadCell:last-child,
.DatabaseTableCell:last-child{
    text-align: right;
    padding-left: 2rem;
}
