.MainPage {
  /* Divided into two rows */
  margin: 0;
  background: #f1f1f1;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 4fr;
  overflow-x: hidden;
}
.TopBarSection {
  background-color: black;
}
.MainSection {
  /* divided into two columns */
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: 1.3fr 6fr;
  overflow: hidden;
}

.SideBarSection {
  overflow: hidden;
  overflow-y: scroll;
}

.SideBarSection::-webkit-scrollbar {
  display: none;
  min-width: fit-content;
}

.SideBarSection {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.MainContentSection {
  /* divided into two rows */
  display: grid;
  grid-template-rows: 80px 4fr;
  overflow: hidden;
}

.ContentSection {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem;
}
.ContentSection::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
.ContentSection::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.ContentSection::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #008ac1;
}
.ContentSection::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.DatabaseTableHead {
  text-transform: uppercase;
  padding: 1rem;
  color: #008ac1;
  text-align: center;
}

.DatabaseTableRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem 0rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.DatabaseTableCell:nth-last-child(2) {
  text-align: center;
}

.DatabaseTableCell {
  font-weight: normal;
  padding: 0.2rem 1rem;
  text-align: center;
}

.DatabaseTableHead:first-child,
.DatabaseTableCell:first-child {
  text-align: left;
}

.DatabaseTableCell:first-child {
  text-transform: uppercase;
}

.DatabaseTableHead:last-child,
.DatabaseTableCell:last-child {
  text-align: right;
}
.DatabaseRow {
  color: #000000;
  cursor: pointer;
}

.DatabaseRow:hover {
  color: #f7b21f;
}
.NoResourcesMessage {
  flex-grow: 1;
  display: flex;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
