
.ContentSection {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem;
}

.DatabaseTableHead {
  text-transform: uppercase;
  color: #008ac1;
  text-align: left;
  grid-row: 1;
  padding: 0.5rem 0;
}

.DatabaseTableRow {
  display: grid;
  color: #000000;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  border-bottom: solid 1px #cccccc;
}

.DatabaseTableRow:not(a) {
  border-bottom-width: 2px;
}

.CardBodySection .DatabaseTableRow{
  width: 100%;
}

.DatabaseBody .DatabaseTableRow:hover {
  /* color: #f7b21f; */
  background-color: var(--color-gray-light);
}

.DatabaseTableCell {
  font-weight: normal;
  padding: 1rem 0;
  text-align: left;
  grid-row: 1;
  overflow: hidden;
  overflow-wrap: break-word;
}

.DatabaseTableCell div {
  justify-content: start!important;
}

.DatabaseTableHead:first-child,
.DatabaseTableCell:first-child {
  text-align: left;
  padding-left: 1rem!important;
}

.DatabaseTableCell:first-child {
  text-transform: uppercase;
}

.DatabaseTableHead:last-child,
.DatabaseTableCell:last-child {
  text-align: right;
  padding-right: 1rem!important;
}

.NoResourcesMessage {
  flex-grow: 1;
  display: flex;
  font-size: 16px;
  height: 50vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.ButtonPlusSmall{
  width: 1rem;
  height: 1rem;
}

.DatabaseTable:hover{
  border-color: #cccccc;
}