.DatabaseForm {
  max-width: 30rem;
  padding-top: 2rem;
  height: 100%;
}

.CreateDBError{
  padding-bottom: 1rem;
}

.SelectWrapper {
  width: 100%;
}

.SelectOptionsWrapper {
  border: 1px solid #000;
}

.DBFormElements {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
