.Primary-Btn {
  background-color: #F7B21F;
  width: 9.7rem;
  height: 2.9rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  border: none;
  outline: 2px solid #F7B21F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Primary-Btn:hover{
  background-color: transparent;
  color: #F7B21F;
  outline: 2px solid #F7B21F;
}

.Primary-Btn.CancelBtn {
  outline: 2px solid #000000;
  color: #000000;
  background-color: #ffffff;
}

.Primary-Btn.CancelBtn:hover {
  color: #fff;
  background-color: #000;
}
