.Primary-Btn {
  background-color: #F7B21F;
  width: 155px;
  height: 50px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  line-height: 19px;
  text-align: center;
  border: none;
  outline: 2px solid #F7B21F;
  cursor: pointer;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.Primary-Btn:hover{
  background-color: transparent;
  color: #F7B21F;
  outline: 2px solid #F7B21F;
}
