.NewPasswordPageContainer {
    background: #008ac1;
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.NewPasswordContent {
 justify-self: center;
 flex: 1;
 display: flex;
 align-self: center;
 flex-direction: column;
 padding: 5rem 4rem;
}


.NewPasswordContentInputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.NewPasswordMessage {
  align-self: center;
  justify-self: center;
}

.NewPasswordSuccessContent {
  min-height: 25rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.NewPasswordSuccessContent h2 {
  color: #f7b21f;
}

.NewPasswordSuccessContent p span {
  color: #f7b21f;
}

.NewPasswordErrorDiv {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(214, 59, 59);
  text-align: center;
  padding: 1rem 0;
}

.NewPasswordPageFooter {
  position: relative;
  margin-top: 5rem;
}

@media only screen and (max-width: 640px) {
  .NewPasswordContent {
    width: 90%;
  }
 
  .InputText {
    width: 90%;
  }
}
