.ContentSection {
    padding: 2rem;
    display: grid;
    gap: 1rem;
}

.MetricsCardsSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding-bottom: 1rem;
}

.CardSizeDimensions{
    /* min-height: 107px; */
}