.ContentSection {
    padding: 2rem;
    display: grid;
    gap: 1rem;
}

.MetricsCardsSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding-bottom: 1rem;

}

.CardSizeDimensions{
    min-width: 15rem;
    display: flex;
    /* we dont set values the height
       is a pre-requiste for the line
       component, try removing or editing
       it and you will see why it matters.
    */
    height: 18rem; 
}

.ContentSectionSpinner {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .MetricsCardGraph {
    height: 100%;
  }