.Secondary-Btn {
    background-color: transparent;
    width: 155px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border: none;
    position: absolute;
    outline: 2px solid white;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  }
  
  .Secondary-Btn:hover{
    background-color: #DDDDDD;
    color: #008ac1;
    outline: 2px solid #008ac1;
  }
  