.Secondary-Btn {
  background-color: transparent;
  width: 9.7rem;
  height: 2.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

.Secondary-Btn:hover {
  background-color: #dddddd;
}

.SecondaryBlack {
  outline: 2px solid black;
  color: black;
}

.SecondaryWhite {
  outline: 2px solid white;
  color: white;
}
