.ProjectContentSection {
  overflow-x: hidden;
  overflow-y: auto;
}

.MetricCardsSection {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.CardDimensions {
  height: 15rem;
}
