.ResetPasswordPageContainer {
    background: #008ac1;
    height: 100vh;
    color: #ffffff;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.ResetPasswordContent {
 justify-self: center;
}

.ResetPasswordContentHeading {
  
}

.ResetPasswordContentInputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.ResetPasswordLinkContainer {
  display: inline-block;
}

a.ResetPasswordContentLink {
  color: #F7B21F;
  border-bottom: 1px solid #F7B21F;
}

.ResetPasswordContentBottomLink {
  margin-top: 1rem;
}