.ResetPasswordPageContainer {
  flex-grow: 1;
  background: #008ac1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.ResetPasswordContent {
  flex-grow: 1;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ResetPasswordContentInputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

a.ResetPasswordContentLink {
  color: #f7b21f;
  border-bottom: 1px solid #f7b21f;
}

.ResetPasswordMessage {
  align-self: center;
  justify-self: center;
}

.ResetPasswordSuccessContent {
  min-height: 25rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.ResetPasswordSuccessContent h2 {
  color: #f7b21f;
}

.ResetPasswordSuccessContent p span {
  color: #f7b21f;
}

.ResetPasswordErrorDiv {
  background-color: rgba(255, 255, 255, 0.5);
  width: 25rem;
  color: #d63b3b;
  text-align: center;
  padding: 1rem 0;
}

@media only screen and (max-width: 640px) {
  .ResetPasswordContent {
    width: 90%;
  }

  .InputText {
    width: 90%;
  }
}
