.Page {
    margin: 0;
    background: #f1f1f1;
    max-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* overflow: hidden; */
  }
  .TopBarSection {
    background-color: black;
  }
  .MainSection {
    /* divided into two columns */
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 1.3fr 6fr;
    overflow: hidden;
  }
  .SideBarSection {
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 5rem);
  }
  
  .SideBarSection::-webkit-scrollbar {
    display: none;
    min-width: fit-content;
  }
  
  .SideBarSection {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .MainContentSection {
    /* divided into two rows */
    display: grid;
    grid-template-rows: 80px 4fr;
    overflow: auto;
  }

  .SmallContainer{
    padding: 0 2rem 2rem 2rem;
  }
  @media (max-width: 580px) {
    .SmallContainer{
      padding: 0 1rem 1rem 2rem;
    }
  }
  
.OuterContainerBorder{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}
.DonutChatContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5;
    max-width: 25rem;
    border:1px solid #cccccc;
    background-color: #ffffff;
}
.InsideHeading{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cccccc;
}
.Heading, .TransactionHistoryHeading{
    padding: .3rem;
    font-size: large;
    font-weight: bold;
}

.Subtext2{
    font-weight: 800;
}
.MonthSummary{
    display: flex;
    flex-direction: column;
}
.InnerContainer{
  padding: 0 1rem;
}
.ResourseDetail{
    display: grid;
    grid-template-columns: 1fr  3fr 1fr;
    grid-gap:.5rem;
    border-bottom: 1px solid #000000;
    padding: .2rem;
}
.Cube{
    display: flex;
    width: 1rem;
    height: 1rem;
}
.ResourcePrice{
    font-weight: 700;
    text-align: end;
}
.Total{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-gap:.5rem;
    padding: .8rem 0.3rem;   
}
.TotalTxt{
    text-align: start; 
}
.paymentButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem 0.5rem 1rem; 
}

.CancelButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.BarGraphContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border:1px solid #cccccc;
    width: 100%;
    background-color: #ffffff;
}
.MetricsCardGraph {
  width: 90%;
  height: 25rem;
  align-self: flex-start;
  
}
.MetricContainer{
  display: flex;
  padding-bottom: 1rem;
  justify-items: center;
}



.PaymentModalSubHeader{
  font-size: 24px;
  font-weight: 500;
}


.TransactionHistoryWrapper {
  padding-top: 1.5rem;
}
.TransactionHistoryContainer{
  border: 1px solid #cccccc;
  background-color: white;
}
.TransactionHistoryHeading {
  padding: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #cccccc;
}
.TransactionHistoryBody {
  padding: 2rem;
}
.TransactionHistoryRow, .TransactionHistoryHead {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 10px;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}
.TransactionHistoryCell{
  overflow-wrap: break-word;
}
.TransactionHistoryHead .TransactionHistoryCell{
  text-transform: uppercase;
  color: #008ac1;
}
.TransactionHistoryCell .Status{
  color: white;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.TransactionHistoryRow .TransactionHistoryCell:first-child,.TransactionHistoryHead .TransactionHistoryCell:first-child {
  text-align: left;
}
.TransactionHistoryRow .TransactionHistoryCell:last-child, .TransactionHistoryHead .TransactionHistoryCell:last-child {
  text-align: right;
}
.PaymentDetailsButton{
    color: #008ac1;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}
.PaymentDetailsButton:hover{
  text-decoration: underline;
}



.ReceiptModal .TotalTxt{
  font-weight: 700;
}
.ReceiptDetailContainer{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}
.ReceiptLabel {
  font-size: 0.8rem;
  color: #9b9b9b;
}
.ReceiptDetail {
  font-weight: 700;
}
.ReceiptModal .ResourseDetail, .ReceiptModal .Total {
  padding: 0.8rem;
}
.ReceiptButton{
  display: flex;
  justify-content: center;
}

@media(max-width: 768px){
    .OuterContainerBorder{
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: fit-content;
    }
    .DonutChatContainer{
      max-width: 100%; 
  }
  }