.ProjectsCard {
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  width: 15rem;
  height: min-content;
}

.ProjectsCard:hover {
  margin: 0;
  border-color: #f7b21f;
}
.PendingNote{
  display: flex;
  color: #ccc;
  text-align: center;
  align-items: center;
  width:  15rem;
  font-size: 1rem;
  height: 6rem;

}

.ProjectImageDiv {
  margin: 0;
  width: 100%;
  height: 7rem;
}
.appCount{
 display: flex;
 justify-content: flex-end;
 padding-right:.5rem;
 padding-top:.1rem;
}

.BottomContainer {
  /* padding: 1rem 0.7rem; */
  height: 4rem;
  display: flex;
  flex-direction: column;
  background-color: #f6fbe5;
}

.ProjectsCardName {
  width: 12rem;
  flex-grow: 1;
  color: #000;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.ProjectsCardName:hover {
  opacity: 0.8;
}

.ProjectInfoSection {
  width:100%;
  display: flex;
  justify-content: space-between;
}

.ProjectDescription {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ProjectDropDown {
  position: relative;
}

.ProjectDropDownContent div:hover {
  background-color: #ddd;
}

.HeadingWithTooltip {
  display: inline;
}

/*///////////// Delete Model //////////////////*/

.ProjectDeleteModel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.ProjectDeleteModel .ModalParentWrap {
  background-color: inherit;
}

.ProjectDeleteModel .ModalChildWrap {
  z-index: 3;
}

.DeleteProjectModel {
  display: grid;
  gap: 3rem;
}

.DeleteProjectModalLowerSection {
  display: grid;
  gap: 1rem;
}

.DeleteDescription {
  cursor: default;
}

.DeleteDescription span {
  padding: 0.2rem 0.4rem;
  margin: 0;
  font-size: 90%;
  background-color: rgba(27, 31, 35, 0.1);
  border-radius: 3px;
}

.DeleteProjectModelButtons {
  display: flex;
  justify-content: space-between;
}

.DeleteProjectModelButtons .DeleteBtn {
  background-color: #ff0000;
  outline: 2px solid #ff0000;
}
.DeleteProjectModelButtons .DeleteBtn:hover {
  background-color: #fff;
  outline: 2px solid #ff0000;
  color: #ff0000;
}

/* ////////// DropDown CSS ////////// */

.DropDownImg {
  fill: #aaa;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.ProjectDropDownContent {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  background-color: #f1f1f1;
  min-width: 6.875rem;
  z-index: 1;
}

.ProjectDropDownContent div {
  padding: 0.5rem 1rem;
  font-size: 0.8125rem;
}

.ProjectDropDownContent div:hover {
  background-color: #ddd;
}

/* ////////// Update Model ////////// */

.ModalUpdateForm {
  display: grid;
  gap: 2rem;
}

.ModalUpdateForm .ModalFormInputs {
  display: grid;
  gap: 1rem;
}

.ModalUpdateForm .ModalFormInputs .InputText {
  border: 2px solid #000000;
  color: #000;
}

.ModalUpdateForm .ModalFormInputs .InputText::placeholder {
  color: #000;
}

.ModalUpdateForm .ModalFormButtons {
  display: flex;
  justify-content: space-between;
}

.ProjectDeleteModel .ModalChildWrap {
  min-width: 21rem;
  max-width: 25rem;
}
