.New-Btn {
    background-color: var(--secondary-color);
    min-width: 8rem;
    padding: 0.6rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    border: none;
    outline: 1px solid var(--secondary-color);
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 10px;
  }
  
  .New-Btn:hover {
    background-color: transparent;
    color: var(--secondary-color);
    outline: 1px solid var(--secondary-color);
  }
  .Close-Btn:hover {
    background-color: transparent;
    color: #ff0000;
    outline: 1px solid #ff0000;
  }
  .Close-Btn{
    background-color: #ff0000;
    min-width: 8rem;
    padding: 0.6rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    border: none;
    outline: 1px solid #ff0000;
    display: flex;
    border-radius: .6rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
  }
  
  button:disabled,
  button[disabled]{
    cursor:not-allowed;
  }