/*///////////// Delete Model //////////////////*/

.AppDeleteModel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(112, 49, 49, 0.5);
}

.AppDeleteModel .ModalParentWrap {
  background-color: inherit;
}

.AppDeleteModel .ModalChildWrap {
  z-index: 3;
}

.DeleteAppModel {
  display: grid;
  gap: 3rem;
}
.InnerContentWarnText{
  overflow: hidden;
  color: #fb0c0c;
  text-overflow: ellipsis;
  cursor:pointer;
  text-decoration: underline;
}

.DeleteModalLowerSection {
  display: grid;
  gap: 1rem;
}
.DeleteDescription {
  cursor: default;
  font-weight: 700;
}

.DeleteDescription span {
  padding: 0.2rem 0.4rem;
  margin: 0;
  font-weight: 700;
  font-size: 90%;
  background-color: rgba(27, 31, 35, 0.1);
  border-radius: 3px;
}

.DeleteAppModelButtons {
  display: flex;
  justify-content: space-between;
}

.DeleteAppModelButtons .DeleteBtn {
  background-color: #ff0000;
  outline: 1px solid #ff0000;
  transform: scaleX(0.9);
}
.DeleteAppModelButtons .DeleteBtn:hover {
  background-color: #fff;
  outline: 1px solid #ff0000;
  color: #ff0000;
}

.InactiveDelete {
  background-color: #fff;
  outline: #ff9595;
  color: #ff9595;
}
.InactiveDelete:hover {
  background-color: #fff;
  outline: #ff9595;
  color: #ff9595;
}

.Page {
  margin: 0;
  background: #f1f1f1;
  max-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}
.TopBarSection {
  background-color: black;
}

.SideBarSection {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.SideBarSection {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - 5rem);
}

.SideBarSection::-webkit-scrollbar {
  display: none;
  min-width: fit-content;
}
.MainContentSection {
  /* divided into two rows */
  display: grid;
  grid-template-rows: 80px 4fr;
  overflow: hidden;
}

.ContentSection {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 3rem;
  flex-direction: column;
  overflow-y: auto;
}

.DeleteWarning {
  color: #f00;
}
.InnerModalDescription {
  display: grid;
  gap: 0.5rem;
}
.DeleteSubDescription {
  font-weight: 500;
}
.WarningContainer {
  display: grid;
  gap: 0.8rem;
  width: 25rem;
}

.APPInstructions {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.APPInstruct {
  display: grid;
}

.APPButtonRow {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
}

.APPButtonRow select{
  padding: 0.5rem;
}

.SectionButtons {
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
}

.APPSections {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 5fr;
  padding: 1rem 5rem;
}

.APPSectionPort {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 1rem 0rem;
  gap: 1rem;
}

.AppDelete {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 2rem 0rem;
}

.APPSectionTitle {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
}

.APPSectionDelete {
  font-size: 1rem;
  font-weight: 700;
  color: #ff0000;
}

.AppDeleteInstructions{
  display:flex;
  gap: 1rem;
  justify-content: space-between;
}

.flexa input {
  border: 1px solid;
  padding: 0.5rem;
}

.AppLabel {
  font-weight: 400;
}

.PrivateImageCheckField,
.CustomDomainCheckField {
  display: grid;
  grid-template-columns: 20% auto;
  gap: 1rem;
}

.PrivateImageTabContainer,
.CustomDomainTabContainer {
  border-left: 5px solid #e1e2e2;
  padding: 0rem 2rem;
}

.PrivateImageInputs,
.CustomDomainInputs {
  display: grid;
  row-gap: 1rem;
}

.ShowStatus {
  display: grid;
  grid-template-columns: 30% auto;
  justify-content: flex-start;
}

.StatusIcon {
  display: grid;
  justify-content: flex-start;
  justify-items: flex-start;
  gap: 1rem;
  align-items: center;
  grid-template-columns: 10% 15% auto;
}

.CopyUrl {
  /* color: var(--primary-color); */
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.CopyUrl:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.CopyDiv {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
}

.UpperSection {
  display: grid;
  justify-content: end;
}

.HorizontalLine {
  border: 0;
  width: 100%;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.HorizontalHalfLine {
  border: 0;
  width: 15%;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.DeleteBtn {
  background-color: #ff0000;
  outline: 1px solid #ff0000;
}

.DeleteBtn:hover {
  background-color: #fff;
  outline: 1px solid #ff0000;
  color: #ff0000;
}

.PortSection {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1rem;
  width: 100%;
}

.varInput {
  width: auto;
  background: transparent;
  border: 1px solid #000;
  padding: 0.5rem;
}

.AppOtherSection{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.APPOptionsButton{
  display: flex;
  justify-content: flex-end;
}

.portInput {
  width: auto;
  background: transparent;
  border: 1px solid #000;
  padding: 0.5rem;
  padding-left: 1rem;
  width: 100%;
}

.commandInputSection {
  display: grid;
  height: 100%;
}

.errorCenterDiv {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
}

.EnvVarsInputGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
}

.EnvVarsInputGroup .EnvVarsInputs {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.EnvVarsInputGroup .EnvVarsAddBtn {
  position: relative;
  display: flex;
  align-items: center;
}

.ModalFormInputsEnvVars{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.EnvVarsAddBtn button.EnvVarAddBtn {
  /* position: absolute;
  max-width: 100%; */
  color: #fff;
  background-color: var(--primary-color);
  outline: 1px solid var(--primary-color);
  padding: 0.5rem;
  height: 2.5rem;
}

.EnvVarsInputGroup .EnvVarsAddBtn button.EnvVarAddBtn:hover {
  color: var(--primary-color);
  background-color: #fff;
}

.RemoveIconBtn{
  cursor: pointer;
}


/* .EnvVarsInputGroup input {
  max-width: 10rem;
}

.EnvVarsInputGroup input::placeholder {
  color: grey;
} */

.EnvData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-bottom: 1rem ;
}

.EnvDataItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.EnvDataItem div{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .VarsRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.3rem;
}

.varsTable {
  width: 100%;
}
.TableRow {
  display: flex;
  justify-content: flex-end;
} */

.deactivatedBtn {
  background-color: transparent;
  color: var(--secondary-color);
}

.Domain__Popup {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.Domain__Popup:hover {
  color: var(--secondary-color);
}

.DomainModal__Main {
  display: grid;
  grid-template-rows: 13% auto;
}

.DomainModal__Title {
  font-size: 25px;
  font-weight: 700;
  line-height: 42.1px;
}

.Description__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Description__button button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  width: 9rem;
  height: 2.9rem;
  font-weight: bold;
}

.Step__Title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 1rem;
}

.Step__Description {
  padding: 0rem 0rem 1rem 1rem;
}

ul li {
  list-style-type: none;
}

.RevertSection {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 1rem;
}

.NoResourcesMessage {
  flex-grow: 1;
  display: flex;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media (max-width: 650px) {
  .APPSections {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
  }
  .EnvDataItem{
   display: flex;
   flex-wrap: wrap;
  }
  .ContentSection{
    padding-top: 2.5rem;
  }
}