.DeploymentsPageContainer {
  height: auto;
}

.DeploymentsPageMain {
  display: flex;
  flex-direction: row;
}

.DeploymentsPageSideNav {
  min-width: 250px;
}

.DeploymentsPageMainContent {
  flex: 1;
  background: #f1f1f1;
}

/*- ///// TABLE STYLING HERE ///////// */
.ResourcesTable {
  padding: 2rem;
  height: 100vh;
  overflow-y: auto;
}

.ResourcesTable table thead {
  text-transform: uppercase;
}

.ResourcesTable::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
.ResourcesTable::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.ResourcesTable::-webkit-scrollbar-thumb {
  background: #888;
}
.ResourcesTable::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ResourcesTable table {
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.ResourcesTable table th {
  padding: 1rem;
  color: #008AC1;
  text-align: center;
}

.ResourcesTable table th:first-child, 
.ResourcesTable table td:first-child {
  text-align: left;
}

.ResourcesTable table th:last-child,
.ResourcesTable table td:last-child {
  text-align: right;
}

.ResourcesTable table td {
  padding: .8rem 1rem;
  font-weight: normal;
}

/*- ////////////////////////////////// */


