.DeploymentsPageContainer {
  height: auto;
}

.DeploymentsPageMain {
  display: flex;
  flex-direction: row;
}

.DeploymentsPageSideNav {
  min-width: 250px;
}

.DeploymentsPageMainContent {
  flex: 1;
  background: #f1f1f1;
}

/*- ///// TABLE STYLING HERE ///////// */
.DeploymentsPageTable {
  padding: 2rem;
}

.DeploymentsPageTable table {
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.DeploymentsPageTable table th {
  padding: 1rem;
  color: #008AC1;
  text-align: center;
}

.DeploymentsPageTable table th:first-child, 
.DeploymentsPageTable table td:first-child {
  text-align: left;
}

.DeploymentsPageTable table th:last-child,
.DeploymentsPageTable table td:last-child {
  text-align: right;
}

.DeploymentsPageTable table td {
  padding: .5rem 1rem;
  font-weight: normal;
}

/*- ////////////////////////////////// */
