version: 2
defaults: &defaults
  docker:
    - image: circleci/node:16
      environment:
        GOOGLE_APPLICATION_CREDENTIALS: /root/crane-cloud
  working_directory: ~/crane-cloud

attach_workspace: &attach_workspace
  attach_workspace:
    at: ~/crane-cloud

filters:
  filters:
    branches:
      only:
        - master
        - develop
        - /(release|hotfix)\/v[0-9].[0-9].[0-9]/

persist_to_workspace: &persist_to_workspace
  persist_to_workspace:
    root: .
    paths: .

build_and_push_image: &build_and_push_image
  run:
    name: build image
    command: ./.circleci/bin/build-and-push-frontend.sh

configure_gcloud: &configure_gcloud
  run:
    name: configure gcloud default settings
    command: |
      echo $GCLOUD_SERVICE_KEY > ~/crane-cloud/auth_key.json
      gcloud auth activate-service-account --key-file ~/crane-cloud/auth_key.json
      gcloud container clusters get-credentials $cluster --zone us-central1-a --project $GCP_PROJECT_ID

deploy_to_kubernetes: &deploy_to_kubernetes
  run:
    name: update deployment image
    command: |
      export IMG_TAG=$(echo $CIRCLE_SHA1 | cut -c -7)
      ./kubectl set image deployment/cranecloud-frontend cranecloud-frontend=gcr.io/$GCP_PROJECT_ID/cranecloud-frontend:$IMG_TAG --record -n $namespace

jobs:
  test_and_report:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - run:
          name: Setup Dependencies
          command: yarn
      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
            ./cc-test-reporter before-build

      - save_cache:  # special step to save the dependency cache
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run: # run tests
          name: Run Test and Coverage
          no_output_timeout: 30m
          command:
            yarn test --detectOpenHandles
      - run: # send coverage
          name: Code Climate report
          command: ./cc-test-reporter after-build --coverage-input-type lcov --exit-code $?

      - *persist_to_workspace

  build_and_deploy_staging:
    docker:
      - image: google/cloud-sdk
        environment:
          GOOGLE_APPLICATION_CREDENTIALS: /root/crane-cloud
          cluster: staging-cluster
          REACT_APP_API_BASE_URL: https://staging-api.cranecloud.io
          namespace: cranecloud
          CC_TEST_REPORTER_ID: $CC_TEST_REPORTER_ID
    working_directory: ~/crane-cloud
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: install kubectl
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
            chmod u+x ./kubectl

      - *configure_gcloud
      - *build_and_push_image
      - *deploy_to_kubernetes

  build_and_deploy_production:
    docker:
      - image: google/cloud-sdk
        environment:
          GOOGLE_APPLICATION_CREDENTIALS: /root/crane-cloud
          cluster: staging-cluster
          REACT_APP_API_BASE_URL: https://api.cranecloud.io
          namespace: cranecloud-prod
          CC_TEST_REPORTER_ID: $CC_TEST_REPORTER_ID
    working_directory: ~/crane-cloud
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: install kubectl
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
            chmod u+x ./kubectl

      - *configure_gcloud
      - *build_and_push_image
      - *deploy_to_kubernetes

workflows:
  version: 2
  cranecloud_deployment:
    jobs:
      - test_and_report
      - build_and_deploy_staging:
          requires:
            - test_and_report
          filters:
            branches:
              only: fx-develop-build
      - build_and_deploy_production:
          requires:
            - test_and_report
          filters:
            branches:
              only: master
