version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run:
          # install envsubst
          command: |
            sudo apt update && sudo apt -y install gettext-base
      - run:
          # install kubectl
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
            chmod u+x ./kubectl
      - setup_remote_docker
        # docker_layer_caching: true
        # DLC is only available on Performance and Custom Plans
      - run:
          # deploy develop to cluster
          command: |
            if [ "${CIRCLE_BRANCH}" == "develop" ]; then
              ./scripts/ci-deploy.sh
            fi
