.SideNav {
    width: 100%;
    height: 100%;
    background: #06222F;
    mix-blend-mode: normal;
    margin-left: 0px;
    padding-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ClusterName{
    height: 21px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    padding: 18px;
    text-transform: uppercase;
}
.SideNav::-webkit-scrollbar {
    display: none;
  }

.ListItem{
    height: 21px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #F7B21F;
    margin-top: 20px;
    cursor: pointer;
    padding-left: 18px;
    text-transform: uppercase;
}

.SubListItem{
    height: 21px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #99D2E9;
    padding: 8px 0px 8px 20px;
    cursor: pointer;
}

.List{
    height: 120vh;
}
.SideFooter{
    position: fixed;
    overflow: hidden;
    height: 30px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    bottom: 0;
    color: #008AC1;
    padding: 18px 0 20px 18px;
    cursor: pointer;
    background-color: #06222F;
}
.SideFooter:hover{
    color: rgb(131, 182, 202);
}
.ListItem:hover{
    text-shadow: 0 0 .5px rgb(255, 194, 62);
}
.SubListItem:hover{
    background-color: rgb(13, 60, 82);
    color: rgb(164, 228, 253);
}