.TeamPageContainer{
  background-color: #f1f1f1;
}
.TeamImagesRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row; */
  width: 100%;
  /* justify-content: space-evenly; */
  padding: 2.5rem 0rem 0rem 2rem;
}

img .TeamMemberImage{
  border-radius: 50%;
}

footer.TeamFooter {
  text-align: center;
  cursor: pointer;
}