.Logo{
    width: 18.75rem;
    padding: 0rem 0rem;
}
.Brand img{
    vertical-align: middle;
    border-style: none;
    box-sizing: none;
    width: 12.5rem;
    display: inline;

}
.Brand {
    position: absolute;
    line-height: 4.063rem;
    text-transform: uppercase;
    font-size: 1.4em;
    display: inline-block;
    font-size: 22px;
    background-color: #008ac1;
}
