.Logo{
    width: 300px;
    padding: 0px 0px;
}
.Brand img{
    vertical-align: middle;
    border-style: none;
    box-sizing: none;
    width: 200px;
    display: inline;

}
.Brand {
    position: absolute;
    /* float: left; */
    line-height: 65px;
    text-transform: uppercase;
    font-size: 1.4em;
    display: inline-block;
    font-size: 22px;
    /* width: 200px; */
    background-color: #008ac1;
}
