.ProjectContentSection {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.MetricCardsSection {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.CardDimensions { 
  height: 15rem;
  color: initial;
}


@media only screen and (max-width: 650px) {
  .MetricCardsSection {
    grid-template-columns: repeat(1, 1fr);
    
  }
  .ProjectContentSection {
    padding-top: 2.5rem;
  }
}

@media only screen and (max-width: 900px) and (min-width: 481px) {
  .MetricCardsSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

