:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #141414;
}
/* body {
  background-color: light-dark(#edeff1, #222222);
} */

/* links */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--mantine-primary-color-5);
  text-decoration: underline;
}

/* text */
.title {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.subtitle {
  font-weight: 700;
  font-size: 0.85rem;
  margin: 0;
  padding: 0;
}

.subtext {
  font-weight: 400;
  font-size: 0.85rem;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.link:hover {
  text-decoration: underline !important;
}

.no-wrap {
  white-space: nowrap;
}
