/* This Component is ideal for re-use for both the clusters and cluster resources */

.ClusterContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    padding: 2rem 1.4rem;
}

.ClusterItem{
    min-width: 199px;
    margin: 15px 15px;
    text-align: center;
}
@media only screen and (min-width: 750px) {
    .ClusterContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  /* Bigger than Phones(laptop / desktop) */
  @media only screen and (min-width: 970px) {
    .ClusterContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }