/* This Component is ideal for re-use for both the clusters and cluster resources */

.ClusterContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.ClusterItem{
    flex: 1;
    min-width: 299px;
    margin-top: 35px;
}