.SelectWrapper {
  max-height: 3rem;
  width: 100%;
  display: grid;
  gap: 0.3rem;
}

.SelectElementMain {
  border: 1px solid #000000;
  border-radius: 0.3rem;
}

.SelectElementValue {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.SmallSelectElementValue {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

/* .SelectElementValue.SelectElementPlaceholder {    */
  /* color: #808080; */
/* }   */

.SelectOptionsWrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  z-index: 3;
  border: 1px solid #8e8e8e;
  border-radius: 0 0 0.4rem 0.4rem;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.SelectOptionsWrapper .SelectOption {
  padding: 0 1rem;
  line-height: 2.5rem;
  height: 2.5rem;
}

.SelectOptionsWrapper .SelectOption:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  color: #ffffff;
}

.SelectArrow {
  transition: all 400ms;
}

.SelectArrow.SelectArrowShowOptions {
  transform: rotate(180deg);
}
