.SelectWrapper {
  width: 100%;
}

.SelectElementMain {
  height: 2.5rem;
  border: 2px solid black;
}

.SelectElementValue {
  line-height: 2.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.SelectElementValue.SelectElementPlaceholder {
  color: gray;
}