.SelectWrapper {
  width: 100%;
  display: grid;
  gap: .3rem;
}

.SelectElementMain {
  height: 2.5rem;
  border: 2px solid black;
}

.SelectElementValue {
  line-height: 2.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.SelectElementValue.SelectElementPlaceholder {
  color: gray;
}

.SelectOptionsWrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.SelectOptionsWrapper .SelectOption {
  padding: 0 1rem;
  line-height: 2.5rem;
  height: 2.5rem;
}

.SelectOptionsWrapper .SelectOption:hover {
  background-color: #EFEFEF;
}