@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	margin: 0;
	/* font-family: 'Montserrat', sans-serif; */
}

section p {
	font-size: .9em;
	line-height: 1.6em;
}

.home-container {
	padding: .8em .3em;
	font-family: 'Montserrat', sans-serif;
}

.home-container section {
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.logo {
	width: 130px;
}

header {
	display: flex;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
}

.hide-mobile {
	display: none;
}

.menu {
	width: 25px;
	margin-top: 45%;
}

.server {
	width: 70%;
	margin: .1em auto 1em 25%;
}

h1, .subhead {
	position: relative;
	z-index: 3;
}

.subhead {
	font-size: 1.1em;
}

nav ul {
	position: fixed;
	width: 60%;
	top: 0;
	right: 0;
	text-align: left;
	background: rgb(36, 41, 44);
	height: 100%;
	z-index: 5;
	padding-top: 3em;
}

nav ul a {
	color: #fff;
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 1em 2em;
	background-color: rgb(49, 55, 59);
}

nav ul a:hover {
	background-color: rgb(65, 73, 78);
}

.exit-btn {
	margin-bottom: 1em;
	margin-top: -1.3em;
	text-align: right;
	padding: 0 1.4em;
}

.exit-btn img {
	width: 15px;
	cursor: pointer;
}

@media only screen and (min-width: 650px) {
	.server {
		width: 50%;
	}
	h1 {
		font-size: 3em;
		margin: 0;
	}
	.subhead {
		font-size: 1.4em;
		margin-bottom: 12%;
	}
	nav ul {
		width: 40%;
	}
}

@media only screen and (min-width: 875px) {
	.subhead {
		margin-bottom: 1%;
	}
}

@media only screen and (min-width: 1024px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
	.show-desktop {
		display: block;
		margin: 0 auto 10% auto;
	}
	.hide-desktop {
		display: none;
	}
	nav ul {
		position: inherit;
		width: auto;
		background: none;
		height: auto;
		display: flex;
		padding-top: 0;
	}
	nav ul li {
		float: left;
	}
	
	nav ul li a {
		color: black;
		background-color: inherit;
		text-align: right;
		padding: 1em 1em;
	}
	
	nav ul li a:hover {
		background-color: inherit;
	}

	nav ul li:last-of-type a {
		color: #00ec00cc;
		text-decoration: solid wavy;
		font-weight: bolder;
	}

	.scroll {
		width: 25px;
		animation: move 1s infinite alternate;
	}
	@keyframes move {
		0% {
			transform: translateY(0px);
		}
		100% {
			transform: translateY(20px);
		}
	}
}

@media only screen and (min-width: 1600px) {
	.server {
		width: 40%;
		margin: 5em auto 4em 15%;
	}
	.container {
		width: 70%;
	}
	h2 {
		margin-top: 4em;
	}
}