.SignIn {
    display: flex;
    color: white;
    height: 100vh;
    padding-top: 3%;
  }

  .SignIn_aside {
    width: 50%;
    /* background-color: #66DAC7; */
    background-color: #9DA6B1;
  }
  
  .SignIn_form {
    width: 50%;
    /* background-color: #2E4158; */
    background-color: black;
    padding: 25px 40px;
    overflow: auto;
  }

  #scrollable::-webkit-scrollbar {
    display: none;
    }

  .FormCenter {
    margin-bottom: 100px;
  }
  
  .FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .FormTitle__Link {
    color: #707C8B;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .FormTitle__Link:first-child {
    margin-left: 0;
  }
  
  .FormTitle__Link--Active {
    color: white;
    border-bottom: 1px solid #199087;
  }
  
  .FormField {
    margin-bottom: 40px;
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
  }
  .FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .FormField__Input::placeholder {
    color: #616E7F;
  }
  
  .FormField__Button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
    margin-right: 10px;
  }
  
  .FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
  }
  
  .FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }
  
  .FormField__Checkbox {
    position: relative;
    top: 1.5px;
  }
  
  .FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
  padding-bottom: 2px;
    margin-left: 5px;
  }