.InformationBarSub{
  background: #F8F7E5;
  min-height: 3.5rem;
  padding: 10px;
}
.InfoHeader{
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: right;
  margin-left: 30px;
  cursor: pointer;
}
.LeftHeader{
  float: right;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: right;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
}
.CreateButton{
  float: right;
  margin-right: 20px;
}
.InformationBarSub::after{
  clear: float;
  clear: both;
}