.breadcrumb {
  padding: 0 0.5rem;
}

.flex_back_link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #000 !important
}

.project_details {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.flex_details {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-evenly;
}

.flex_author {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: column;
}

.avatar_author {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  /* text-align: center; */
  font-weight: bold;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000 0.1rem solid;
}

.flex_name_status {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.font_status {
  color: #000;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
  font-weight: 400;
}

.disabled {
  background-color: #ff0000;
}

.active {
  background-color: #00ff00;
}

.details_styles {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.flex_detail {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.status_dot_red {
  height: 0.1rem;
  width: 0.1rem;
  border-radius: 50%;
  background-color: #ff0000;
}

.status_dot_green {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #00ff00;
}