.ClusterList{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.ClusterCardItem{
    margin: 1.563rem 1.563rem;
    color: black;
}
