.OverviewContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.TitleArea {
  padding: 0 2rem;
}

.APage {
  margin: 0;
  background: var(--gray-bg-light-color);
}

.AChartsArea{
  height: 30rem;
  width: 116rem;
  /* overflow-x: scroll; */
}

.AreaChart {
  height: 100%;
  width: 80%;
}