.card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;   
    max-height: 15vh;
}
  
.cardHeader{
    margin-bottom: 10px;
}

.cardHeader h3 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;  
  }
  
.cardBody {
    flex: 1;
  }

.card ,.cardBody ,  img{
  border-radius: 50%;
}
  .cardBody p {
    line-height: 1.5;
    margin-bottom: 5px;
  }
  
  .cardBody strong {
    font-weight: bold;
  }
  
  .cardFooter {
    display: flex;
    justify-content: flex-end;
  }
  
  .followButton {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .followButton:hover {
    background-color: #222;
  }
  