.ProjectForm {
  width: 100%;
}

.CreateProjectError {
  padding-bottom: 1rem;
  align-self: center;
}

.MainContentSection {
  padding-bottom: 1rem;
}

.FormElements {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.ContentSection {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
}
.InformationBar {
  background: #f8f7e5;
  height: 5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.InformationBarWithButton {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.InfoHeader {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.Element input {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-gap: 0.2rem;
  width: 100%;
}
.FormsSection {
  padding: 1rem;
  align-self: center;
  width: 60%;
}
.LeftFormElements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.TextArea {
  padding: 1rem;
  border: 2px solid black;
  box-sizing: border-box;
  font-size: inherit;
  width: 100%;
}
.TextArea::placeholder {
  color: #808080;
}

.WhiteBackground {
  color: #000;
}
.InitialBackground {
  color: #fff;
  background-color: transparent;
}
.CreateProjectError {
  padding: 1rem;
}

/* make it unresizable */
textarea {
  resize: none;
}
.CreateButtons {
  padding: 1rem 0rem;
}
.ElementTitle {
  padding: 0.7rem 0rem 0rem;
}
.InnerContent {
  display: grid;
  justify-content: center;
  gap: 1rem;
}


.ClusterCheckboxSection {
  display: flex;
  padding: .4rem 0rem;
  flex-direction: row;
  font-size: 13px;
}
.ClusterToggleSection{
  display: flex;
  padding: .4rem .7rem;
  flex-direction: row;
  font-size: 13px;
  text-align: center;
  align-items: center;
}
.MultiSelectioOption {
  display: flex;
  padding: .4rem 4.9rem;
  font-size: 13px;
  color: #7c7a7a;
  text-align: center;
  align-items: center;
}
.Multipleclusters{
  display: flex;
  padding: .4rem 4.9rem;
}
li.ListStyle{
  list-style-type: none;
}
.leftsection{
  display: flex;
  align-items: center;
}
.ClusterLabel{
  display: flex;
  padding-left: 2rem;
}
