.ProjectForm {
  width: 60%;
}

.CreateProjectError {
  padding-bottom: 1rem;
}
.MainContentSection {
  padding-bottom: 1rem;
}

.SelectWrapper {
  width: 100%;
}
.SelectOptionsWrapper {
  border: 2px solid #000;
}

.FormElements {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.ContentSection {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
}
.InformationBar {
  background: #f8f7e5;
  height: 5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.InformationBarWithButton {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.InfoHeader {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.Element input {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-gap: 0.2rem;
  width: 100%;
}
.FormsSection {
  padding: 1rem;
}
.LeftFormElements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.TextArea {
  border: 2px solid black;
  box-sizing: border-box;
  font-size: inherit;
  width: 100%;
}
.TextArea::placeholder {
  color: #808080;
}

.WhiteBackground {
  color: #000;
}
.InitialBackground {
  color: #fff;
  background-color: transparent;
}
.CreateProjectError {
  padding: 1rem;
}

/* make it unresizable */
textarea {
  resize: none;
}
.CreateButtons {
  padding: 1rem 0rem;
}
.ElementTitle {
  padding: 0.7rem 0rem 0rem;
}
