.BackDiv  img{
  display: inline;
}

.BackDiv{
  display: inline;
  color: black;
}
.BackDiv p{
  display: inline;
}

/*! ////////////////////////////////////////// */
.ModalForm.AddAppModal .ModalFormHeading {
margin-bottom: 0;
}

.ModalFormInputsBasic {
display: grid;
gap: 1rem;
}

.ModalFormInputsBasic input {
max-width: 25rem;
}

.EnvVarsInputGroup {
width: 100%;
max-width: 25rem;
display: grid;
grid-template-columns: 3fr 1fr;
gap: 0.5rem;
}

.EnvVarsInputGroup .EnvVarsInputs {
width: 70%;
max-width: 25rem;
display: grid;
gap: 0.5rem;
grid-template-columns: 1fr 1fr;
}

.ModalFormInputs .ModalFormInputsEnvVars {
height: 200px; /* I've had to limit this height for now */
}

.EnvVarsInputGroup .EnvVarsAddBtn {
position: relative;
}

.EnvVarsInputGroup .EnvVarsAddBtn button.EnvVarAddBtn {
position: absolute;
/* margin-top: .2rem; */
max-width: 100%;
color: #fff;
height: 100%;
background-color: #008ac1;
outline: 2px solid #008ac1;
}

.EnvVarsInputGroup input {
max-width: 10rem;
}

.ModalFormButtons {
width: 100%;
}

.ModalFormButtons.AddAddButtons {
max-width: 25rem;
margin-bottom: 2rem;
}


.EnvVarsTable {
width: 100%;
margin-bottom: 1rem;
}

.EnvVarsTable table {
max-width: 25rem;
text-align: left;
}

.EnvVarsTable table thead td {
font-weight: normal;
color: #555;
}

.EnvVarsTable table thead td:last-child {
width: 4rem;
text-align: right;
}

.EnvVarsTable table td:last-child {
width: 4rem;
display: block;
margin: auto;
}

.EnvVarsTable table td {
font-weight: normal;
}

.EnvVarsTable table td img {
margin: auto;
}

.EnvVarsTable table tbody {
overflow: auto;
display: block;
height: 65px;
}

.EnvVarsTable thead, .EnvVarsTable tbody tr {
display: table;
width: 100%;
table-layout: fixed;
}

.AppFormErrorDiv {
background-color: rgba(255, 255, 255, 0.5);
color: rgb(214, 59, 59);
text-align: center;
padding: 1rem 0;
height: 1rem;
}

.EnvVarsTable table tbody::-webkit-scrollbar {
width: 10px;
height: 0px;
}
.EnvVarsTable table tbody::-webkit-scrollbar-track {
background: #f1f1f1;
}
.EnvVarsTable table tbody::-webkit-scrollbar-thumb {
background: #008AC1;
}
.EnvVarsTable table tbody::-webkit-scrollbar-thumb:hover {
background: #555;
}

.AppFormErrorDiv.CreateSuccess {
color: green;
}

