.InformationBar {
  background: #F8F7E5;
  height: 5rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
}

.InformationBarWithButton {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.InfoHeader{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}
