.InformationBar {
  background: #f8f7e5;
  height: 5rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
}

.InformationBarWithButton {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.InfoHeader {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.InfoContent{
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  align-items: center;
}

.ViewAppBtn {
  color: #008ac1;
  background-color: transparent;
  outline: 2px solid #008ac1;
}
.ViewAppBtn:hover {
  color: #fff;
  background-color: #008ac1;
  outline: 2px solid #008ac1;
}

.SearchInput{
  display:flex;
}

.SearchInput input{
  background-color: #EBEAD5;
  color: #000;
  border: 0;
  border-top-left-radius: 4px 2px;
  border-bottom-left-radius: 3px 4px;
  font-size: 1rem;
  padding: 1rem;
  height: 45px;
  width: 300px;
}

.SearchIcon{
  background-color: #EBEAD5;
  padding: 0.42rem;
  border-bottom-right-radius: 6px 2px;
  border-top-right-radius: 3px 4px;
}