.InformationBar {
  background: #f8f7e5;
  height: 5rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
}

.InformationBarWithButton {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.InfoHeader {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.ViewAppBtn {
  color: #008ac1;
  background-color: transparent;
  outline: 2px solid #008ac1;
}
.ViewAppBtn:hover {
  color: #fff;
  background-color: #008ac1;
  outline: 2px solid #008ac1;
}
