.LoginPageContainer {
  height: 100%;
  background: #008ac1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.LoginContent {
  margin-top: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.LoginContentInputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.LoginLinkContainer {
  display: inline-block;
}

a.LoginContentLink {
  color: #f7b21f;
  border-bottom: 1px solid #f7b21f;
}
.LoginErrorDiv {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(214, 59, 59);
  text-align: center;
  padding: 1rem 0;
}

.LoginContentBottomLink {
  margin-top: 1rem;
}

.LoginPageFooter {
  position: relative;
  margin-top: 5rem;
}

@media only screen and (max-width: 640px) {
  .LoginContent {
    width: 90%;
  }

  .InputPassword,
  .InputText {
    width: 90%;
  }
}

/* weird media query to fix fullscreen misbehavior */
@media only screen and (min-height: 700px) {
  .LoginPageContainer {
    height: 100vh;
  }

  .LoginContent {
    padding: 8rem 4rem 0;
  }
}
