.LoginPageContainer {
  background: #008ac1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  flex-grow: 1;
}

.LoginContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.LoginContentInputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.LoginLinkContainer {
  display: inline-block;
}

a.LoginContentLink {
  color: #f7b21f;
  border-bottom: 1px solid #f7b21f;
}
.LoginErrorDiv {
  background-color: rgba(255, 255, 255, 0.5);
  color: #d63b3b;
  text-align: center;
  padding: 1rem 0;
}

.LoginContentBottomLink {
  padding-top: 1rem;
}


@media only screen and (max-width: 640px) {
  .LoginContent {
    width: 90%;
  }
}

