.LoginPageContainer {
    background: #008ac1;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.LoginContent {
 align-self: center;
}

.LoginContentInputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.LoginLinkContainer {
  display: inline-block;
}

a.LoginContentLink {
  color: #F7B21F;
  border-bottom: 1px solid #F7B21F;
}

.LoginContentBottomLink {
  margin-top: 1rem;
}

.LoginPageFooter {
  position: relative;
  margin-top: 5rem;
}

