.DateInputContainer {
  display: inline-block;
  position: relative;
}

.DateInputWrapper {
  display: flex;
  cursor: default;
}

.DateInputLabel {
  user-select: none;
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DateInputDisplay {
  border: 2px solid #cccccc;
  width: 6rem;
  height: 1rem;
  padding: 0.2rem 1rem;
  color: #555555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DateInputCalendar {
  position: absolute;
  top: 2rem;
}

.DateInputCalendar.PositionLeft {
  right: 0;
}