
.ContentSection {
  justify-content: space-between;
  padding-left: 3rem;
}

.ErrorOnWhite {
  width: 25rem;
}

.DatabaseDetail{
  width: 100%;
}

.DBButtons{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}
.ResetBtn{
  background-color: #F7B21F;
  float: left;
}

.DBDeleteBtn{
  background-color: #FF9595;
  outline: 2px solid #FF9595;
  color: #fff;
  float: left;
}

.DBDeleteBtn:hover{
  background-color: transparent;
  outline: 2px solid #FF9595;
  color: #FF9595;
}
.rowDiv{
  display: grid;
}

.DBDetailRow{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 15% 25% 10% auto;
  padding-bottom: 1rem;
  align-items: center;
}
.buttonText{
  padding: 1rem 0 0 1rem;
  float: left;
}

.DBThead{
  font-weight: bold;
}

.DBTDetail{
}

.DeleteDatabaseModel{
  display: grid;
  gap: 1rem;
}

.InnerModalDescription{
  display: grid;
  gap: 0.5rem;
}

.PasswordButton{
  font-size: small;
  height: 1.9rem;
}

.DBInstructions{
  padding: 1rem 0.5rem;
  background: #ffffff;
  border: 1px solid #CCCCCC;
  display: grid;
  gap: 1rem;
}

.DBInfoBottom{
  display: grid;
  grid-template-columns: 4fr 1fr;

}

.DBAccessInfo{
  background: #f1f1f1;
  padding: .2rem;
  font-family: "monaco";
}

.DBAccessCopy{
  width: fit-content;
}

.MysqlArticle{
  color: #F7B21F;
}

.MysqlArticle:hover{
  text-decoration: underline;
}

.DBIcon{
  display: grid;
  grid-auto-flow: column;
  gap: .8rem;
  padding: 0 0.8rem;
  align-items: center;
}