header.Header {
  background-color: #008ac1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 80px !important; /* I hate to do this but I had to limit this height */
}

.HeaderLinks {
  padding-top: 2rem;
}

.LogoWrap {
  margin: 1rem 0 auto 2rem;
}

.HeaderLinksWrap {
  margin-right: 1rem;
}

.HeaderLinks a {
  font-size: 0.9em;
  color: white;
  padding: 1rem;
}

.HeaderLinks a.HeaderLinkLogin {
  border: 2px solid #fff;
  padding: 1rem 3rem;
  margin-left: 2rem;
}

.TurnLight:hover {
  transition: 0.4s;
  background-color: #f1f1f1;
  color: #000 !important;
}

/* remove focus from logo link - mozilla */
.LogoLink:focus {
  outline: none;
}
.LogoLink::-moz-focus-inner {
  border: 0;
}

div.HeaderLinksWrap.LoggedIn {
  grid-template-areas: "area1" "area2";
}

div.HeaderLinksWrap.LoggedIn .OnHeader {
  display: grid;
  height: 100%;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  grid-area: area1;
}

div.HeaderLinksWrap.LoggedIn .BelowHeader {
  background-color: #f9f9f9;
  grid-area: area2;
  width: 13rem;
}

.UserAvatar {
  width: 3rem;
  height: 3rem;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
}

.DropDownArrow {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.DropDownArrow img {
  width: 1rem;
}

.DropDownArrow:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.UserNames {
  font-weight: bold;
  color: #fff;
}

.DropDownContent {
  color: #000;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  box-shadow: 0 4px 4px 0 rgba(117, 117, 117, 0.2);
}

.DropDownLink {
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.DropDownLink:hover,
.DropDownLink:active {
  background-color: #f1f1f1;
}

.DropDownLink {
  color: #000;
  text-decoration: none;
}

.OnHeader a.HeaderLinkBackToConsole {
  text-transform: uppercase;
  border: 2px solid #ffffff;
  padding: 1rem 3rem;
  /* margin-left: 2rem; */
  font-size: 0.9em;
  color: white;
  padding: 1rem;
}

@media only screen and (max-width: 640px) {
  .HeaderLinkPricing,
  .HeaderLinkDocs {
    display: none;
  }
}
