.Navigation{
    background-color: #008ac1;
    color: white;
    font-family: aller,Oxygen,Arial,Helvetica,sans-serif,Helvetica Neue;
    line-height: 24px;
    font-weight: 300;
    height: 50px;
    width: 100%;
    position: relative;
}
.Header .Header-Inner{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}
.Navigation a{
    text-decoration: none;
    color: beige;
    /* background-color: transparent; */
    cursor: pointer;
}
.Navigation .Logo{
    width: 250px;
    /* padding-left: 0.5em; */
}
.Navigation img{
    vertical-align: middle;
    border-style: none;
    box-sizing: none;

}
.Header .Header-Address{
    width: 22%;
    margin-left: auto;
    color: beige;
}
.Header .Header-Social{
    display: flex;
    flex-direction: column;
    width: 17%;
}
.Header .Header-Menu{
    width: 20%;
}
.Header .Header-Menu ul{
    margin-top: 0;
    margin-bottom: 1rem;
}
.Header-Menu li{
    list-style: none;
    margin-bottom: 8px;
    color: red;
}
.Header-Menu li:hover{
    color: white;
    text-decoration: none;

}
nav {
float: right;
}
nav ul {
list-style: none;
margin: 0;
padding: 0;
}
nav ul li {
float: left;
position: relative;
}
nav ul li a {
display: block;
padding: 0 20px;
line-height: 70px;
/* background: #ffffff; */
color: #463f3f;
text-decoration: none;
/*
The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
*/
}
nav ul li a:hover {
background-color: rgba(0, 0, 0, 0.1);
font-weight: 900;
}
nav ul li a:not(:only-child):after {
padding-left: 4px;
content: ' ▾';
}
nav ul li ul li {
min-width: 190px;
}
nav ul li ul li a {
padding: 15px;
line-height: 20px;
}

.nav-dropdown {
position: absolute;
z-index: 1;
/* Guarantees that the dropdown will display on top of any content. */
box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
display: none;
}

.nav-mobile {
display: none;
position: absolute;
top: 0;
right: 0;
background-color: #008ac1;
height: 70px;
width: 70px;
}

@media only screen and (max-width: 800px) {
.nav-mobile {
    display: block;
}

nav {
    width: 100%;
    padding: 70px 0 15px;
}
nav ul {
    display: none;
}
nav ul li {
    float: none;
}
nav ul li a {
    padding: 15px;
    line-height: 20px;
}
nav ul li ul li a {
    padding-left: 30px;
}
}
#nav-toggle {
position: absolute;
left: 18px;
top: 22px;
cursor: pointer;
padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
cursor: pointer;
border-radius: 1px;
height: 5px;
width: 35px;
background-color: #008ac1;
position: absolute;
display: block;
content: '';
transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
top: -10px;
}
#nav-toggle span:after {
bottom: -10px;
}
#nav-toggle.active span {
    background-color: #008ac1;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
top: 0;
}
#nav-toggle.active span:before {
transform: rotate(45deg);
}
#nav-toggle.active span:after {
transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
.nav-list {
    display: block !important;
}
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.Navigation {
height: 70px;
background-color: #008ac1;
}

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.Nav-containers {
max-width: 1000px;
margin: 0 auto;
}

.Brand {
position: absolute;
/* padding-left: 5px; */
float: left;
line-height: 70px;
text-transform: uppercase;
font-size: 1.4em;
}
.Brand a,
.Brand a:visited {
color: #463f3f;
text-decoration: none;
}

.Navigation > .Nav-header {
  display: inline;
}

.Navigation > .Nav-header > .Brand {
  display: inline-block;
  font-size: 22px;
  /* color: #fff; */
  /* padding: 10px 10px 10px 10px; */
}

.Navigation > .nav-btn {
  display: none;
}

.Navigation > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.Navigation > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.Navigation > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.Navigation > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .Navigation > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .Navigation > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .Navigation > .nav-btn > label:hover,.Navigation  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .Navigation > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .Navigation > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .Navigation > .nav-links > a {
    display: block;
    width: 100%;
  }
  .Navigation > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .Navigation > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}