.Navigation{
    background-color: #008ac1;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-weight: 300;
    height: 70px;
    width: 100%;
    position: relative;
}

.Navigation > .Nav-header {
  display: inline;
}

.Navigation .NavContainer{
  margin-left: 60px;
}
.Navigation > .Nav-btn {
  display: none;
}

.Navigation > .Nav-Links {
  display: inline;
  font-size: 18px;
  height: 100%;
  float: right;
  max-width: 60%;
}

.Navigation > .Nav-Links > .Logged-In{
  display: inline;
}

.Navigation .Nav-Links .Drop{
  margin-right: 100px;
}

.Navigation .Nav-Links .Namespaces{
  float: left;
  margin-right: 200px;
}

.Profile{
  float: right;
  position: relative;
  display: inline-block;
}

.Navigation > .Nav-Links > a {
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: normal;
  padding: 42px 15px;
  height: 100%;
}

.Navigation > .Nav-Links > a:hover {
  /* background-color: rgba(0, 0, 0, 0.3); */
  height: 100%;
  font-weight: bold;
}
.Navigation > .Nav-Links a:last-child {
  padding-right: 160px;
}
.Navigation > #nav-check {
  display: none;
}
.Navigation .Nav-dropdown{
  height: 100%;
  position: relative;
  display: inline-block;
}
.Navigation .Nav-dropdown select{
  float: right;
  height: 70%;
  margin-top: 15px;
  border-radius: 6px;
  width: 130px;
  padding-left: 5px;
}
.Navigation select option{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Navigation .Dropdown-Icon img{
  width: 50px;
  vertical-align: middle;
  border-style: none;
  box-sizing: none;
  margin-top: 15px;
}

.Navigation .Nav-dropdown .Dropdown-Icon{
  /* font-size: 16px;   */
  /* float: left; */
  border: none;
  outline: none;
  color: white;
  padding: 1px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.Navigation .Dropdown-Content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.Navigation .Dropdown-Content a{
  /* float: none; */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding: 15px 5px;
  text-align: center;
}
.Navigation .Dropdown-Content a:hover{
  background-color: #ddd;
}
.Navigation .Nav-dropdown:hover .Dropdown-Content{
  display: block;
}

@media (max-width:600px) {
  .Navigation > .Nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .Navigation > .Nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .Navigation > .Nav-btn > label:hover,.Navigation  #nav-check:checked ~ .Nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .Navigation > .Nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .Navigation > .Nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .Navigation > .Nav-links > Link {
    display: block;
    width: 100%;
  }
  .Navigation > #nav-check:not(:checked) ~ .Nav-links {
    height: 0px;
  }
  .Navigation > #nav-check:checked ~ .Nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


