
.ProjectList{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.ProjectCardItem{
    margin: 25px 25px;
    color: black;
}

/* .ProjectList .CardImageDiv{
    background-size: unset!important;
} */

.ProjectFormErrorDiv {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(214, 59, 59);
    text-align: center;
    padding: 1rem 0;
    height: 1rem;
    }
    

.ClusterDrop{
  width: 25rem;
  border: 2px solid black;
  box-sizing: border-box;
  font-size: inherit;
  padding: 1rem;
}

.ClusterNameOption{
    padding: 2rem 1.5rem;
    color: #000;
    background-color: #F9F9F9;
    font-weight: bold;
}
