.ProjectList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem;
}

.ProjectFormErrorDiv {
  background-color: rgba(255, 255, 255, 0.5);
  color: #d63b3b;
  text-align: center;
  padding: 1rem 0;
  height: 1rem;
}

.ClusterDrop {
  width: 25rem;
  border: 2px solid #000000;
  box-sizing: border-box;
  font-size: inherit;
  padding: 1rem;
}

.ClusterNameOption {
  padding: 2rem 1.5rem;
  color: #000;
  background-color: #f9f9f9;
  font-weight: bold;
}

.ModalFormInputs input::placeholder {
  color: #808080;
}

.MainRow > .ConnectModal {
  width: 100%;
  margin-left: 0;
}

.MainRow{
  background-color: #f1f1f1;
  min-height: calc(100vh - 14rem);
}

.NoResourcesMessage {
  flex-grow: 1;
  display: flex;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.ButtonPlusSmall{
  width: 1rem;
  height: 1rem;
}

.FooterRow {
  padding: 1rem 3rem;
  background-color: #f1f1f1;
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {
  .ProjectList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 900px) and (min-width: 481px) {
  .ProjectList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .ProjectList {
    grid-template-columns: repeat(2, 1fr);
  }
}