.AppList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.ButtonPlusSmall{
  width: 1rem;
  height: 1rem;
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {
  .AppList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 900px) and (min-width: 481px) {
  .AppList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .AppList {
    grid-template-columns: repeat(1, 1fr);
  }
}