.AppList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media only screen and (min-device-width: 901px) and (max-width: 1100px) {
  .AppList {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-device-width: 641px) and (max-width: 900px) {
  .AppList {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-device-width: 480px) and (max-width: 640px) {
  .AppList {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
