.AppList{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

.AppCardItem{
    margin: 20px 20px;
    color: black;
}
.NoAppsDiv{
    margin: auto;
    margin-top: 10.5rem;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}