.LoginPageContainer {
  background: var(--primary-color)!important;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  flex-grow: 1;
}

.LoginContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AuthBtn{
  padding: 0.9rem;
  height: auto;
}

.LoginContentInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
}

.LoginContentInputs > * {
  width: 100%;
}


.LowerLoginSection {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 0.5rem;
}

.LoginLinkContainer {
  display: inline-block;
}

.LoginContentLink {
  color: var(--secondary-light-color);
  border-bottom: 1px solid var(--secondary-light-color);
}


.LoginErrorDiv {
  background-color: rgba(255, 255, 255, 0.597);
  color: #d63b3b;
  text-align: center;
  padding: 1rem 0;
  border-radius: 5px;
}
.LoginFeedBackDiv {
  background-color: rgba(255, 255, 255, 0.5);
  color: #026d0a;
  text-align: center;
  padding: 1rem 0;
}

.LoginContentBottomLink {
  padding-top: 1rem;
}
.LoginButton {
  width: 100%;
}
.LoginButton:hover{
  background-color: var(--secondary-color);
  color: #fff;
}
.GitLoginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.LogoIcon {
  width: 1.5rem;
  height: 1.5rem;
}
.GithubLoginBtn {
  width: 100%;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}

.GithubLoginBtn:hover {
  border: 1px solid var(--primary-dark-color);
  background-color: var(--primary-dark-color);
}
.GitText {
  color: #fff;
  text-transform: capitalize;
}
.LoginWith {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #fff;
  line-height: 0.1em;
}
.LoginWith span {
  background-color: var(--primary-color);
  padding: 0 1rem;
}
@media (max-width: 460px) {
  .LoginContent {
    padding: 0 2rem;
  }
  .LoginContentInputs {
    width: 100%;
  }
}
