.AddPageContainer {
    background: #008ac1;
    color: #000;
    margin: auto;
    margin-top: 30px;
    width: 425px;
    height: 550px;
    padding: 20px 48px;
}
.AddHeading{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 40px;
}
  
.AddFormContent{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.AddFormInputs {
    display: grid;
    gap: 1rem;
}


.AddBtn{
    float: left;
}
.AddCancelBtn{
    float: right;
}