header.NewHeader {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 0 0 0 3rem;
  position: relative;
}

.HeaderLink {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.HeaderLink a {
  font-size: 0.9em;
  color: #000;
  padding: 1rem 3rem;
  display: grid;
  align-content: center;
  height: 100%;
}

.HeaderLink a:hover{
  background-color: #F7B21F;
}

.HeaderLink .active{
  background-color: #F7B21F;
}
.LogoLink:focus {
  outline: none;
}
.LogoLink::-moz-focus-inner {
  border: 0;
}

.LoggedIn {
  display: flex;
}

.HeaderLinksWrap {
  display: flex;
}

.OnHead {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.OnHead:hover .UserNames {
  background-color: #F7B21F;
  color: #000000;
}

.OnHead:hover svg {
  fill: #000;
}

div.DropDownGrid {
  display: flex;
  flex-direction: column;
}

div.HeaderLinksWrap.LoggedIn .BelowHeader {
  background-color: #f9f9f9;
  position: absolute;
  top: 100%;
  width: 10rem;
  right: 0;
}

.DropDownArrowSvg {
  width: 2rem;
  height: 2rem;
  fill: #000000;
}

.UserName {
  font-weight: bold;
  color: #000;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.DropDownContent {
  color: #000;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-shadow: 0 4px 4px 0 rgba(117, 117, 117, 0.2);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.DropDownLink {
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.DropDownLink:hover,
.DropDownLink:active {
  background-color: #f1f1f1;
}

.DropDownLink, .DropDownLink:visited {
  color: #000;
  text-decoration: none;
}

.HeaderLinkBack {
  text-transform: uppercase;
  padding: 1rem 3rem;
  /* margin-left: 2rem; */
  font-size: 0.9em;
  padding: 1rem 3rem;
  height: 100%;
  display: grid;
  align-content: center;
}
.HeaderLinkBack:hover{
  background-color: #F7B21F;
}

.StripBorder {
  text-transform: uppercase;
  padding: 1rem 3rem;
  font-size: 0.9em;
  color: white;
  padding: 1rem;
}

a.HeaderLinkDocs{
  display: grid;
  align-content: center;
  padding: 1rem 3rem;
  height: 100%;
}

a.HeaderLinkDocs:hover{
  background-color: #F7B21F;
}

@media only screen and (max-width: 640px) {
  .HeaderLinkPricing,
  .HeaderLinkDocs {
    display: none;
  }
}
