/*///////////// Delete Model //////////////////*/

.AppDeleteModel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(112, 49, 49, 0.5);
}

.AppDeleteModel .ModalParentWrap {
  background-color: inherit;
}

.AppDeleteModel .ModalChildWrap {
  z-index: 3;
}

.DeleteAppModel {
  display: grid;
  gap: 3rem;
}

.DeleteModalLowerSection {
  display: grid;
  gap: 1rem;
}
.DeleteDescription {
  cursor: default;
  font-weight: 700;
}

.DeleteDescription span {
  padding: 0.2rem 0.4rem;
  margin: 0;
  font-weight: 700;
  font-size: 90%;
  background-color: rgba(27, 31, 35, 0.1);
  border-radius: 3px;
}

.DeleteAppModelButtons {
  display: flex;
  justify-content: space-between;
}

.DeleteAppModelButtons .DeleteBtn {
  background-color: #ff0000;
  outline: 2px solid #ff0000;
  transform: scaleX(0.9);
}
.DeleteAppModelButtons .DeleteBtn:hover {
  background-color: #fff;
  outline: 2px solid #ff0000;
  color: #ff0000;
}

.InactiveDelete {
  background-color: #fff;
  outline: #ff9595;
  color: #ff9595;
}
.InactiveDelete:hover {
  background-color: #fff;
  outline: #ff9595;
  color: #ff9595;
}

.Page {
  margin: 0;
  background: #f1f1f1;
  max-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}
.TopBarSection {
  background-color: black;
}
.MainSection {
  /* divided into two columns */
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: 1.3fr 6fr;
  overflow: hidden;
}
.SideBarSection {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.SideBarSection {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - 5rem);
}

.SideBarSection::-webkit-scrollbar {
  display: none;
  min-width: fit-content;
}
.MainContentSection {
  /* divided into two rows */
  display: grid;
  grid-template-rows: 80px 4fr;
  overflow: hidden;
}
.ContentSection {
  justify-content: space-between;
  padding: 2rem 2rem 0rem;
}
.ContentSection {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.DeleteWarning {
  color: #f00;
}
.InnerModalDescription {
  display: grid;
  gap: 0.5rem;
}
.DeleteSubDescription {
  font-weight: 500;
}
.WarningContainer {
  display: grid;
  gap: 0.8rem;
  width: 25rem;
}

.APPInstructions {
  display: grid;
  gap: 2rem;
}

.APPInstruct{
  display: grid;
}

.APPButtonRow {
  display: grid;
  grid-template-columns: 20% auto;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 1rem;
}

.SectionButtons {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.APPSections {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.APPSectionPort {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 2rem 0rem 1rem 0rem;
}

.AppDelete{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 2rem 0rem;
}

.APPSectionTitle {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  color: #008ac1;
}

.APPSectionDelete {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  color: #ff0000;
}

.flexa input {
  border: 1px solid;
}

.AppLabel {
  font-weight: 400;
}

.PrivateImageCheckField {
  display: grid;
  grid-template-columns: 20% auto;
  gap: 1rem;
}

.PrivateImageTabContainer {
  border-left: 5px solid #e1e2e2;
  padding: 0rem 2rem;
}

.PrivateImageInputs {
  display: grid;
  row-gap: 1rem;
}

.ShowStatus{
  display: grid;
  grid-template-columns: 30% auto;
  justify-content: flex-start;
}

.StatusIcon {
  display: grid;
  justify-content: flex-start;
  justify-items: flex-start;
  gap: 2rem;
  align-items: center;
  grid-template-columns: 10% 15% auto;
}

.CopyUrl{
  /* color: #008ac1; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.CopyDiv{
  display: flex;
}

.UpperSection{
  display: grid;
  justify-content: end;
}

.HorizontalLine{
  border: 0;
  width: 100%;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
}

.HorizontalHalfLine{
  border: 0;
  width: 35%;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
}

.APPButton{
  padding-bottom: 2rem;
}

.DeleteBtn {
  background-color: #ff0000;
  outline: 2px solid #ff0000;
}

.DeleteBtn:hover {
  background-color: #fff;
  outline: 2px solid #ff0000;
  color: #ff0000;
}

.PortSection{
  display: grid;
  grid-template-columns: 18% auto 18%;
  gap: 1rem;
  align-items: center;
}

.portInput{
  width: auto;
  background: transparent;
  border: 1px solid #000;
  padding-left: 1rem;
  height: 100%;
}

.commandInputSection{
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.errorCenterDiv{
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
}