/*///////////// Delete Model //////////////////*/

.AppDeleteModel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.AppDeleteModel .ModalParentWrap {
  background-color: inherit;
}

.AppDeleteModel .ModalChildWrap {
  z-index: 3;
}

.DeleteAppModel {
  display: grid;
  gap: 3rem;
}

.DeleteModalLowerSection {
  display: grid;
  gap: 1rem;
}

.DeleteDescription span {
  padding: 0.2rem 0.4rem;
  margin: 0;
  font-size: 90%;
  background-color: rgba(27, 31, 35, 0.1);
  border-radius: 3px;
}

.DeleteAppModelButtons {
  display: flex;
  justify-content: space-between;
}

.DeleteAppModelButtons .DeleteBtn {
  background-color: #ff0000;
  outline: 2px solid #ff0000;
  transform: scaleX(0.9);
}
.DeleteAppModelButtons .DeleteBtn:hover {
  background-color: #fff;
  outline: 2px solid #ff0000;
  color: #ff0000;
}

/* .Primary-Btn .CancelBtn{
  transform: scaleX(0.9);
} */