.LandingPage {
  /* height: 100%; */
  background: #008ac1;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.LandingPageMain {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.LandingPageMainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 0 4rem;
}

.LandingPageMainContentInfo {
  display: grid;
  align-items: center;
}

.LandingPageMainContentImg {
  display: grid;
  align-items: center;
}

.LandingPageMainContentInfo h1 {
  font-size: 32px;
  color: #f7b21f;
}

.LandingPageMainContentInfo h3 {
  color: #ffffff;
  line-height: 37px;
  font-size: 32px;
  width: 80%;
}

@media only screen and (max-width: 640px) {
  .LandingPageMainContentImg {
    display: none;
  }
}
