thead {
    background-color:transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #008ac1;
}
tbody {background-color:transparent;}
tfoot {background-color:transparent;}

table, td {
    background-color:transparent;
    width: 100%;
    padding: 2rem;
}
td, th{
  padding: .8rem;
}
tr{
    width: 100%;
    text-align: center;
}
tr td:first-child, th:first-child{
    text-align: left;
}
tr td:last-child {
    text-align: right;
    min-width: 100px;
}
td:first-child{
    width: 20%;
}
tr td:nth-last-child(2){
    min-width: 400px;
}