.ProjectList {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.ProjectFormErrorDiv {
  background-color: rgba(255, 255, 255, 0.5);
  color: #d63b3b;
  text-align: center;
  padding: 1rem 0;
  height: 1rem;
}
.ProjectDeleteModel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.Role{
  font-weight: 600;
}
.ModelContent{
  width: 23rem;
}

.ProjectDeleteModel .ModalParentWrap {
  background-color: inherit;
}
.UpdateProjectModelButtons {
  display: flex;
  justify-content: space-between;
}
.UpdateForm {
  display: grid;
  gap: 1rem;
  padding: 1rem 1.3rem;
  grid-template-rows: 2fr;
}
.InformationText{
  width: 20rem;
}
.ModelHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
}
.BlueBtn:hover{
  color: #008ac1;
  background-color: #fff;
  outline: 2px solid #008ac1;
}
.BlueBtn{
  color: #fff;
  background-color: #008ac1;
  outline: 2px solid #008ac1;
  padding: 0.5rem;
  height: 2.5rem;
}

.ProjectDeleteModel .ModalChildWrap {
  z-index: 3;
}
.ProjectDeleteModel .ModalChildWrap {
  min-width: 21rem;
  max-width: 25rem;
}

.ClusterDrop {
  width: 25rem;
  border: 2px solid #000000;
  box-sizing: border-box;
  font-size: inherit;
  padding: 1rem;
}

.ClusterNameOption {
  padding: 2rem 1.5rem;
  color: #000;
  background-color: #f9f9f9;
  font-weight: bold;
}

.MainRow > .ConnectModal {
  width: 100%;
  margin-left: 0;
}

.MainRow {
  background-color: #f1f1f1;
  min-height: calc(100vh - 14rem);
}

.NoResourcesMessage {
  flex-grow: 1;
  display: flex;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 12rem;
}

.ButtonPlusSmall {
  width: 1rem;
  height: 1rem;
}

.FooterRow {
  padding: 1rem 3rem;
  background-color: #f1f1f1;
}

.SearchBar {
  flex-grow: 1;
  display: flex;
  padding: 2rem;
}


@media (max-width: 500px) {
  .ProjectList > div{
    width: 100%!important;
  }  
}
/* @media only screen and (max-width: 1100px) and (min-width: 901px) {
  .ProjectList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 900px) and (min-width: 481px) {
  .ProjectList {
    grid-template-columns: repeat(3, 1fr);
  }
}

} */
