.SideBar {
  height: inherit;
  background: #06222f;
  mix-blend-mode: normal;
  margin-left: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.SideBarTopSection {
  padding: 2rem 1rem;
  display: grid;
  grid-auto-flow: column;
}

.ProjectName {
  background-color: #06222f;
  font-weight: bold;
  font-size: large;
  color: #fff;
  cursor: pointer;
}

.SideBarBottomSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SideBarLinks {
  flex-grow: 1;
}

.SideBar::-webkit-scrollbar {
  display: none;
}

.ListItem {
  height: 21px;
  background-color: #06222f;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #f7b21f;
  margin-top: 20px;
  cursor: pointer;
  padding-left: 18px;
  text-transform: uppercase;
  display: block;
}

.SubBarListItem {
  height: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #99d2e9;
  padding: 8px 0px 8px 20px;
  cursor: pointer;
  display: block;
}

.List {
  height: max-content;
  overflow: auto;
}

.ListItem:hover {
  text-shadow: 0 0 0.5px rgb(255, 194, 62);
}

.SubBarListItem:hover,
.active {
  color: #06222f;
  background-color: #99d2e9;
  padding-left: 20px;
}

.DisabledLink {
  pointer-events: none;
}

.SideFooter {
  height: 30px;
  font-size: 12px;
  line-height: 14px;
  bottom: 0;
  color: #008ac1;
  padding: 18px 0 20px 18px;
  cursor: pointer;
  background-color: #06222f;
}
.SideFooter:hover {
  color: rgb(131, 182, 202);
}
