.ResourceCard {
  width: 100%;
  max-width: 338px;
  margin: auto;
  text-align: left;
  margin-bottom: 1rem;
  background: #fff;
  position: relative;
  color: #000000;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: 200px;
}

.ResourceDigit {
  /* color: grey; */
  flex: 1 1 auto;
  padding: 1.25rem;
  font-size: 32px;
  font-weight: normal;
  box-sizing: border-box;
  padding-top: 4rem;
}
.ResourceCard .CardHeader {
  border: none;
  outline: 0;
  padding: 12px;
  /* color: white; */
  text-transform: lowercase;
  text-align: left;
  cursor: pointer;
  /* width: 100%; */
  font-size: 16px;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.ResourceCard .CardHeader::first-letter {
  text-transform: uppercase;
}

.ResourceCard:hover {
  opacity: 0.7;
  border: 1px solid var(--secondary-color);
}
