.ResourceCard {
  /* width: 100%; */
  width: 18rem;
  margin: 0.5rem;
  /* text-align: left; */
  /* margin-bottom: 1rem; */
  background: #fff;
  /* position: relative; */
  /* color: #000000; */
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.ResourceDigit {
  /* color: grey; */
  flex: 1 1 auto;
  padding: 1.25rem;
  font-size: 1.5rem;
  font-weight: normal;
  box-sizing: border-box;
  text-align: right;
  color: rgb(153, 153, 153);
}

.ResourceCard .CardHeader {
  border: none;
  outline: 0;
  padding: 12px;
  /* color: white; */
  text-transform: lowercase;
  text-align: left;
  cursor: pointer;
  /* width: 100%; */
  font-size: 16px;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.ResourceCard .CardHeader::first-letter {
  text-transform: uppercase;
}

.ResourceCard:hover {
  opacity: 0.7;
  border: 1px solid var(--secondary-color);
}