.AppCard {
    width: 100%;
    width: 320px;
    margin: auto;
    text-align: left;
    font-family: arial;
    background: #fff;
    position: relative;
    color: #000000;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 200px;
}

.AppCardHeader {
    border: none;
    outline: 0;
    padding: 12px;
    text-transform: lowercase;
    cursor: pointer;
    font-size: 18px;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.StatusData .StatusWrapper{
    justify-content: right;
}

.AppTable{
    width: 100%;
}

.AppTable tr td:last-child {
    text-align: right;
}

.AppTable tr td:first-child {
    text-align: left;
}
 
.AppUrl {
    flex: 1 1 auto;
    padding: 1.25rem;
    font-size: 16px;
    font-weight: normal;
    box-sizing: border-box;
    padding-top: 3rem;
    cursor: pointer;
}

.AppCard .AppCardHeader::first-letter {
    text-transform: uppercase;
}

.AppCardHeader a{
    text-decoration: none;
    color: #000000;
}

.AppTable tr td:hover {
    opacity: 0.7;
}

.AppCard:hover {
    opacity: 0.8 ;
    border: 1px solid #F7B21F;
    transition: 0.5s;
    transform: scale(1.01);
}

.AppUrl:hover {
    transition: 0.5s;
    transform: scale(1.02);
}
  