.ProjectList{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

.ProjectCardItem{
    margin: 25px 25px;
    color: black;
}

.ProjectList .CardImageDiv{
    background-size: unset!important;
}