.Page{
    margin: 0;
    background: #F1F1F1;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 150px 3fr 100px;
    overflow-x: hidden;
}

.TopRow{
    width: 100%;
}

.MainRow{
    width: 100%;
}
