body{
    margin: 0;
}
@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: 200;
  src: url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url("./assets/fonts/Roboto-Black.ttf") format("truetype");
}

body {
  margin: 0;
  color: #000;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

textarea, input, select, button {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

textarea:focus, input:focus, select:focus, button:focus {
  outline: none;
}

.uppercase {
  text-transform: uppercase;
}

.tiny {
  font-weight: 200;
}

.bold {
  font-weight: 500;
}

.extra-bold {
  font-weight: 900;
}

a {
  text-decoration: none;
}

textarea,
input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
  margin: 0;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
  outline: none;
}

img {
  display: block;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  box-sizing: border-box;
}

/*- ///// GENERAL DASHBOARD STYLING ///////// */
.DashboardContainer {
  height: auto;
  display: flex;
  flex-direction: column;
}

.DashboardMainContainer {
  margin-top: 80px; /* Height of the hedaer */
  display: flex;
  flex-direction: row;
}

.DashboardSideNav {
  min-width: 250px;
}

.DashboardContentWrap {
  flex: 1;
  background: #f1f1f1;
}

.FailedToRetrieveMsg {
  text-align: center;
  color: #555;
  display: flex;
  justify-content: center;
}

.FailedToRetrieveMsg p {
  box-shadow: .5rem .5rem rgba(0, 138, 193, 0.2);
  border-radius: 25px;
  padding: 5rem;
}

.DashboardHeaderContainer {
  position: fixed;
  width: 100%;
  z-index: 5;
}

/*- ////////////////////////////////// */


/*- ///// TABLE STYLING ///////// */
.ResourcesTable{
  padding-top: 2rem;
}

.ResourcesTable table thead {
  text-transform: uppercase;
}

body::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: #888;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ResourcesTable table {
  position: relative;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.ResourcesTable table th {
  padding: 1rem;
  color: #008AC1;
  text-align: center;
}

.ResourcesTable table th:first-child, 
.ResourcesTable table td:first-child {
  text-align: left;
  padding-left: 2rem;
}

.ResourcesTable table th:last-child,
.ResourcesTable table td:last-child {
  text-align: right;
  padding-right: 2rem;
}

.ResourcesTable table td {
  padding: .8rem 1rem;
  font-weight: normal;
}

.TableLoading {
  position: relative;
}

.SpinnerWrapper {
  position: absolute;
  width: 100%;
  margin-top: 4rem;
}

.ResourcesTable table tr:hover{
  background-color: #e0e0e0;
  cursor: pointer;
}


/*- ////////////////////////////////// */

/* Other */

.NoContentDiv{
  margin: auto;
  margin-top: 10.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}





/* //// ADMIN DASHBOARD PAGE STYLING  //// */

.MainPage{
  /* Divided into two rows */
  margin: 0;
  background: #F1F1F1;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 4fr;
  overflow-x: hidden;
}
.TopBarSection{
  background-color: black;
}
.MainSection{
  /* divided into two columns */
  background-color: #F1F1F1;
  display: grid;
  grid-template-columns: 1.3fr 6fr;
  overflow: hidden;
}

.SideBarSection{
  overflow: hidden;
  overflow-y: scroll;
}

.SideBarSection::-webkit-scrollbar {
  display: none;
  min-width: fit-content;
}


.SideBarSection{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.MainContentSection{
  /* divided into two rows */
  display: grid;
  grid-template-rows: 80px 4fr;
  overflow: hidden;
  
}

.ContentSection{
  overflow-x: hidden;
  overflow-y: auto;
}
.ContentSection::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
.ContentSection::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.ContentSection::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #008AC1;
}
.ContentSection::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* //////////////////////////////////////////// */