

 
  .NoResourcesMessage {
    flex-grow: 1;
    display: flex;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 12rem;
  }
  
  .ButtonPlusSmall {
    width: 1rem;
    height: 1rem;
  }
 
  .CoinSize{
    display: flex;
    width: 1.5rem;

  }
  .MainColumn{
    padding: .5rem 2rem 0rem 2rem;
  }
  .BackButton {
    color: #fff;
    width: fit-content;
    background-color: #008ac1;
    outline: 1px solid #008ac1;
  }
  .BackButton:hover {
    color: #008ac1;
    background-color: #fff;
    outline: 1px solid #008ac1;
  }
  .CreditsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
  }
  .rowContentYes{
    color: #008ac1;
  }
  .rowContentNo{
    color: #d80000;
  }
  .FooterRow {
    padding: 1rem 3rem;
    background-color: #f1f1f1;
  }
  .UserContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 1rem;
  }
 
  
  .UserAvatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .CustomInput{
    height: 2.5rem;
    padding: .3rem;
    width: 70%;
  }
  .CustomPasswordInput{
    border: 1px solid #000;
    height: 2.5rem;
    padding: .3rem;
    width: 70%;
  }
  .InputDiv{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 100%;
    padding: .3rem;
  }
  
  .SectionTitle{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
  }
  .SectionSubTitle{
    font-size: .7rem;
    color: #000;
  }
  

  .ContainerSection{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 3fr;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ccc;
  }
  aside{
    width: 70%;
  }
  .HeaderSection{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: flex-start;
  }
  .EmailHead{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: flex-start;
  }
  
  
  @media (max-width: 500px) {
  
    
  }
  /* @media only screen and (max-width: 1100px) and (min-width: 901px) {
    .ProjectList {
      grid-template-columns: repeat(4, 1fr);
    }
  }*/
  
  @media only screen and (max-width: 900px)  {
    .ContainerSection{
      display: flex;
      width: 100%;
      flex-direction: column;
    }
  }
  
  
  