.ProgressBarContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.ProgressBar {
  position: relative;
  height: 1.25rem;
  width: 70%;
  background-color: #DDDDDD;
}

.ProgressBarFiller {
  height: 100%;
  border-radius: inherit;
  transition: width .5s ease-in;
  color: white;
  text-align: center;
}

.ProgressBarFillQuarter1 {
  background-color: #FF0000;
}

.ProgressBarFillQuarter2 {
  background-color: #D2741D;
}

.ProgressBarFillQuarter3 {
  background-color: #F7B21F;
}

.ProgressBarFillQuarter4 {
  background-color: #98A058;
}