.RegisterPageContainer {
  background: #008ac1;
  color: #ffffff;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  flex-grow: 1;
}

.RegisterContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.RegisterSuccessContent {
  min-height: 25rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.RegisterSuccessContent h2 {
  color: #f7b21f;
}

.RegisterSuccessContent p span {
  color: #f7b21f;
}

.RegisterContentInputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.RegisterLinkContainer {
  display: inline-block;
}

a.RegisterContentLink {
  color: #f7b21f;
  border-bottom: 1px solid #f7b21f;
}

.RegisterCheckbox {
  display: flex;
}

.RegisterErrorDiv {
  background-color: rgba(255, 255, 255, 0.5);
  color: #d63b3b;
  text-align: center;
  padding: 1rem 0;
}

@media only screen and (max-width: 640px) {
  .RegisterContent {
    width: 90%;
  }

  .InputPassword,
  .InputText {
    width: 90%;
  }

  .VerificationCodeInput {
    width: 90%;
  }

  .VerificationCodeInput .InputText {
    width: 100%;
  }
}
