.RegisterPageContainer {
  background: #008ac1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.RegisterContent {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  flex: 1;
}

.RegisterSuccessContent {
  min-height: 25rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.RegisterSuccessContent h2 {
  color: #f7b21f;
}

.RegisterSuccessContent p span {
  color: #f7b21f;
}

.RegisterContentInputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.RegisterLinkContainer {
  display: inline-block;
}

a.RegisterContentLink {
  color: #f7b21f;
  border-bottom: 1px solid #f7b21f;
}

.RegisterCheckbox {
  display: flex;
}

.RegisterErrorDiv {
  background-color: rgba(255, 255, 255, 0.5);
  color: #d63b3b;
  text-align: center;
  padding: 1rem 0;
}
.GitLoginBtn {
  display: grid;
  grid-gap: 0.2rem;
  grid-auto-flow: column;
  align-items: center;
}
.LogoIcon {
  width: 1.5rem;
  height: 1.5rem;
}
.GithubLoginBtn {
  width: 100%;
  color: #fff;
  background-color: #000;
  outline: 2px solid #000000;
}

.GithubLoginBtn:hover {
  outline: 2px solid #06222f;
  background-color: #06222f;
}
.GitText {
  color: #fff;
  text-transform: capitalize;
}
.SignupBtn{
  width: 100%;
}
.SignupWith {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #fff;
  line-height: 0.1em;
}
.SignupWith span {
  background-color: #008ac1;
  padding: 0 1rem;
}
.LowerSignupSection {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 0.5rem;
  gap: 0.5rem;
}

@media only screen and (max-width: 640px) {
  .RegisterContent {
    width: 90%;
  }

  .InputPassword,
  .InputText {
    width: 90%;
  }

  .VerificationCodeInput {
    width: 90%;
  }

  .VerificationCodeInput .InputText {
    width: 100%;
  }
}
