.DetailsSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.Heading {
  font-weight: bolder;
  line-height: 1.8;
  font-size: larger;
}

.DateSection {
  padding: 5px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  justify-content: space-evenly;
  align-items: center;
  /* height: 25px; */
  /* gap: .5rem; */
  margin-top: 3px;
  position: relative;
}

.DateItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.FilterButton {
  outline: none;
  background: unset;
  border: 1px solid black;
  color: #000;
}

.FilterButton:hover {
  border: none;
}

.Filter {
  width: 20rem;
  padding: .3rem;
  border: 1px solid #000000;
  display: flex;
  padding-left: 7px;
  padding-right: 7px;
  z-index: 1;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
}

.SimpleForm {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  align-items: center;
  gap: .7rem;
}

.errorSection {
  font-size: 11px;
  color: red;
  display: block;
  align-self: center;
}

.FilterDropdown {
  width: 12.5rem;
  right: 0.65rem;
  height: 7rem;
  overflow-y: auto;
  position: absolute;
  top: 1.5rem;
  transition: all;
  z-index: 1;
  overflow-x: hidden;
  /* max-height: 23rem; */
  overflow: visible;
  border: 1px solid #000000;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
}

.FilterText {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #555555;
}

.FilterItemContainer {
  width: 12rem;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}

.FilterItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: .4rem 1rem .8rem 1rem;
  position: relative;
}

.DropdownArrowSvg {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-self: center;
  fill: black;
}

.OnHeader:hover .DropdownArrowSvg {
  fill: var(--secondary-color);
}

.RelativeContainer {
  position: relative;
}

.SelectorBox {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 1px 1px 0 3px;
  /* margin-top: 3px; */
  border-radius: 9px;
  border: 2px solid #000000;
}

.SelectOption {
  font-size: 13px;
}

.InnerDropDown {
  position: absolute;
  width: 7rem;
  max-height: 15rem;
  background-color: #e2f5ff;
  z-index: 11;
  overflow-y: auto;
  overflow-x: hidden;
  right: 30px;
  border: 1px solid #ccc;
  top: 46px;
  display: flex;
  box-shadow: 0 4px 4px 0 rgb(117 117 117 / 20%);
  flex-direction: column;
}

.InnerDropDownLowerhalf {
  position: absolute;
  max-width: 10rem;
  max-height: 15rem;
  background-color: #e2f5ff;
  z-index: 11;
  overflow-y: auto;
  overflow-x: hidden;
  right: 37px;
  border: 1px solid #ccc;
  bottom: 46px;
  display: flex;
  box-shadow: 0 4px 4px 0 rgb(117 117 117 / 20%);
  flex-direction: column;
}

.InnerDropDownItem {
  display: flex;
  text-align: start;
  padding: 10px 10px 2px 10px;
  border-bottom: 1px solid #ccc;
}

.InnerDropDownItem:hover {
  cursor: pointer;
  background-color: #c1e6fa;
}

.Table {
  background: #ffffff;
  border-radius: 15px;
  padding: 1rem 2rem;
}

.TableRow {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.Success {
  color: green;
}

.Danger {
  color: red;
}

.hr {
  margin: .5rem 0;
}

.Row {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.Bold {
  font-weight: bold;
  font-size: 17px;
}

.RowCell {
  display: flex;
  gap: 1rem;
}

.LastCell {
  align-self: flex-end;
}

.CalenderFromposition {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  /* padding: 0.5rem; */
  display: grid;
  /* gap: 1rem; */
  position: absolute;
  z-index: 10;
  left: 1rem;
  border-radius: 10px;
}

.CalenderToposition {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  /* padding: 0.5rem; */
  display: grid;
  /* gap: 1rem; */
  position: absolute;
  z-index: 10;
  left: 6rem;
  border-radius: 10px;
}

.NoResourcesMessage {
  display: flex;
  justify-content: center;
  width: 100%;

}

.OuterFilterItem {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 9px;
  height: 40px;
  width: 100%;
  z-index: 1;
}