.MemberCard {
  width: 11.875rem;
}

.MemberImageDiv {
  margin: 0;
  width: 100%;
  height: 11.875rem;
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.CardImageDiv:hover{
  border: 1px solid #008AC1;
}

.BottomContainer {
  padding: 0.625rem;
  height: 5rem;
  background-color: #f1f1f1;
}

.MemberCardName {
  width: 100%;
  font-size: 20px;
  padding-top: 0.313rem;
  text-align: center;
  font-weight: bold;
}
.MemberCardDesc {
  width: 100%;
  font-size: 16px;
  color: #000000;
  padding-top: 0.313rem;
  text-align: center;
}
